[2015-10-31 18:56] ab-tools opened #1 "Exception When Trying to Serialize a Bigger Graph Object"
As written in the protobuf-net project already, I can reproduce an exception when trying to serialize a bigger (about 50 MB) graph object with AqlaSerializer.

To reproduce it I need to include several classes from my project which I don't want to publish here. Therefore I allowed myself to send you an e-mail to the address I found on your "Aqla Solutions" website.

Please just start this example

[2015-11-01 00:55] AqlaSolutions commented on #1
Hi, Andreas! I checked your issue.
1. It looks like the original protobuf-net can't _save_ your object (the same recursion exception).
2. I fixed the problem with AsReferenceDefault not being used correctly.
3. The serialization goes in a recursive way. Your objects have a similar to linked list structure. That means the whole list is processed in a recursive way which leads to StackOverflowExcept

[2015-11-01 09:14] ab-tools commented on #1
Hello,

first thanks a lot for your very quick reply!
1. Yes, that's correct - the reason I'm searching for another serialization project. ;-)
2. A very good start! :-)
3. I understand that protobuf-net has problems with it as it obviously does not handle object references correctly. But as you fixed that I don't understand why the StackOverflowException when serializing graphs cannot be fixed:

[2015-11-01 09:35] AqlaSolutions commented on #1
@ab-tools
3. "you can just "stop processing" when you reach the same object" this is already done but it's not your case. Your serialization path looks like Airport => Waypoints => Airports => ... Airport => Waypoints => Airports ... Because objects graph is traversed not in wide but in depth. Of course similar references are not traversed second time but it doesn't help when there are objects ref

[2015-11-01 09:46] ab-tools commented on #1
Yes, I know - that's how I do it with protobuf-net right now (and then iterating through all Airways at program start and adding the Waypoint => Airways references manually again), but I really would like to get rid of all these work-arounds.

I guess I would need less work-arounds than with protobuf-net with your serializer already (due to the reference issue to be fixed), but it would be great t

[2015-11-01 09:51] AqlaSolutions commented on #1
V2 is a "big bright future". I plan to rewrite core things but it's really big task and is not going to happen soon. I wouldn't wait for that :)

[2015-11-01 09:59] ab-tools commented on #1
OK, see - that's bad.

But anyway, AqlaSerializer seems to be the best serializer right now as protobuf-net obviously is dead.

So I'll probably switch to your solution for this project. :-)

Thanks again for this great support
Andreas

[2015-11-01 23:27] AqlaSolutions commented on #1
@ab-tools
I have another workaround for you. Just create a separate thread with big stack size.

 new Thread(s => Serialize(), 1024 \* 1024 \* 50).Start();

Download the newest release otherwise you'll get recursion exception.

[2015-11-02 13:18] ab-tools commented on #1
That's a good idea, thanks for this suggestion!

I just gave it a try:
you need to do the same for deserialization, too, of course, but then it works fine. The application does require full trust then though (for changing the stack size of the new thread), but as my application should not be run over network or similar, I think that's OK (although I need to test a bit more with it as I never neede

[2015-11-02 13:26] ab-tools opened #2 "Support More Useful .NET Types for Serialization"
One point which I always found very bothersome with protobuf-net was their limited support for serialization of several very useful and often used .NET types in data structures.

For me especially the types from the "System.Drawing" namespace would be very interesting, in particular:
- Color
- Point
- Rectangle
- RectangleF
- if possible also: Image (which should also be easy to implement by using

[2015-11-02 13:50] AqlaSolutions commented on #2
@ab-tools
You can use surrogates. This is a feature of the original protobuf-net. See http://stackoverflow.com/questions/7046506/can-i-serialize-arbitrary-types-with-protobuf-net

[2015-11-02 14:00] ab-tools commented on #2
Again thank you for this very quick reply! :-)

True, this Surrogate approach at least cleans up the code a bit (will change my current work-around in this way). But technically it makes no difference (correct me if I should be wrong):
for each instance (and there are 100,000s of them) of Point, Rectangle, ... used in the data structure an additional (useless) object needs to be created on seriali

[2015-11-02 14:10] AqlaSolutions commented on #2
@ab-tools
I'm not 100% sure but you can use structs (not classes) as surrogates to not clutter up heap. If it's possible then performance hit should be negligibly small.

[2015-11-02 18:33] ab-tools commented on #2
Good idea, works good - also with struct!

Then I will leave it like this and use your solution starting from now (I already removed all the legacy "protobuf" attributes ;-) ). It's definitely a progress compared to protobuf-net!

Thanks again for the great support
Andreas

[2015-11-02 19:39] #2 closed, assigned to nobody

[2016-01-05 10:53] ab-tools opened #3 "Very High Footprint on Serializing Numeric 2-Dimensional Array"
I've tried to use AqlaSerializer for serializing a bigger 2-dimensional array of shorts simply like:

[code]

With an array size of 7,201 \* 21,601 = 155,548,801 elements of shorts with each element using 2 bytes I would have expected a file size of 311,097,602 bytes plus a little bit overhead for the serialization information. But I was shocked about the resulting file having 1,369,649,462 bytes

[2016-01-05 11:04] AqlaSolutions commented on #3
Originally protobuf-net supports only one-dimensional arrays:

http://stackoverflow.com/questions/16174558/how-do-you-serialize-deserialize-jagged-nested-arrays-with-protobuf-net
http://stackoverflow.com/questions/22023405/protobuf-with-multidimensional-array
http://stackoverflow.com/questions/4090173/using-protobuf-net-how-to-deserialize-a-multi-dimensional-array

I didn't change this in AqlaSeri

[2016-01-05 11:23] ab-tools commented on #3
First thanks a lot for your very fast reply again, Vladyslav!

OK, I would be fine with the option of using short[][], but when I tried to serialize that I got this exception:
"System.NotSupportedException: Nested or jagged lists and arrays are not supported"

It would be really great if AqlaSolutions could support that!
Or can I easily add support for that again myself with a "surrogate" object?

[2016-01-05 13:04] AqlaSolutions commented on #3
I checked the code. Array handling is done not for types but for members - strange decision. It seems to be quite difficult to add support for nested list/arrays and especially hard when there is a lot of "legacy" code which I have to dig. I don't think I have a time for such big work now. But you can always try to do it yourself and then submit PR.

Workarounds:

You can make your nested/jagged a

[2016-01-05 15:47] ab-tools commented on #3
OK, thank you!
The workaround with a surrogate sounds like a good way as I can just serialize/deserialize it "manually" (using binary reader/writer) to a byte array very easily.

I tried that now, but got an "OutOfMemoryException" while serializing the resulting byte array (in my case about 300 MB). The reason is the method "ResizeAndFlushLeft" in the "BufferPool" class, in concrete these lines:

[2016-01-05 17:07] AqlaSolutions commented on #3
Are you trying to manually use ProtoWriter from your code? It's really a low-level class, there could be some protobuf-specific hacks. I would just use MemoryStream with BinaryWriter/BinaryReader for that.

[2016-01-05 17:10] AqlaSolutions commented on #3
Or did I understand you wrong? You give a big byte array and AqlaSerializer can't deal with it? What's the size of your array?

[2016-01-05 17:15] ab-tools commented on #3
No, I never would try that - just using normal MemoryStream with BinaryWriter/BinaryReader as you wrote.

But when AqlaSerializer tries to serialize the quite big byte array of about 300 MB (precisely 311,097,602 bytes) it crashes at the location where I wrote above when the buffer is initialized with the doubled size (which is then 622,195,204) of my byte array which should be serialized.

Just t

[2016-01-05 17:56] AqlaSolutions commented on #3
So fixed it (I mean byte[] growing) but there is still quite big memory consumption on reading. I had to use FileStream instead of MemoryStream to make reading work in my test. Do you need the release ASAP or it can wait for some other changes to combine with?

[2016-01-05 18:09] ab-tools commented on #3
Thanks a lot for this very fast fix!

No problem, no quick release needed - I can easily compile it myself, so you can "officially" include it with some other changes later.

Thanks again a lot for your great support!

[2016-01-06 14:53] AqlaSolutions commented on #3
@ab-tools, I've just commited an improvement which may be helpful especially in your case. It delegates all the buffering stuff to the stream side (so no own buffer) which means now it can write directly to the FileStream without consuming memory! What's important is that the writing stream should support seeking and reading too.

I'll see later if there is something in reading that I can optimize

[2016-01-06 15:01] ab-tools commented on #3
That's great, thanks a lot!

Optimizing the reading side in the same way would be cool, too, because reading is more often needed than writing. So any performance improvement on that is very welcome. ;-)

[2016-01-09 12:12] ab-tools commented on #3
Your latest source code version works without problems now with the big byte array, but unfortunately it does have an extreme performance impact on "normal data serialization":
For another much smaller (in terms of resulting file size) object where I use AqlaSerializer in the same project as well, I saw a really extreme duration increase for serialization with the latest version.

The object I'm s

[2016-01-09 12:24] ab-tools commented on #3
... just made a few more tests and personally I think the constant flushing of the resulting serialized stream in the new version is the reason for the extreme performance impact.

This makes totally sense when serializing just a few very big object instances, but is really bad for a high number of small object instances.

So maybe it would make sense to make this behavior optional by a settings f

[2016-01-09 20:06] AqlaSolutions commented on #3
@ab-tools I think your performance issues are caused not only by flush. When the serializer uses your disk stream directly in some cases it have to read and rewrite data multiple times which is very slow. The point here is that you either want best speed or save memory. When you have to write much data in one structure or nested object (like 1300mb blob) in 32-bit app it may be impossible to use m

[2016-01-09 20:08] ab-tools commented on #3
Great, thanks a lot for the quick fix - I will give it a try and let you know then!

[2016-01-09 22:28] ab-tools commented on #3
Just gave it a try and with "false" there is not much performance gain, maybe a bit, but it's still so bad that it's not usable (I canceled it again as it would take too long to wait).

Then I tested with "true" and this much better again, but still I see a little worse performance than with the latest release version:
with my own build ("release" mode by the way) it takes about 43 sec. to save my

[2016-01-09 22:39] AqlaSolutions commented on #3
Could you compile it as 64-bit and compare release vs the current version serialization speed (only "true" option)? It would give me a thought if it's connected to the 32-bit-optimized buffer growing strategy. I expect that 64-bit version has nearly the same performance as in the last release.

Your app should be run as 64-bit process for this test.

I will also profile any tests if you can send m

[2016-01-09 23:08] ab-tools commented on #3
Just did a test with a 64 bit build and did not see any performance change.

As I said it would be great if you could make a release build agian - I'm just not sure if my build maybe is somehow different. E. g. it seems you're using VS 2015 where I'm still using VS 2013. Therefore it would be good to test with a build you made just to be sure.

[2016-01-09 23:18] AqlaSolutions commented on #3
Did you mean that 1) 32-bit works worse than release-32-bit but 64-bit works the same as 64-bit release or 2) 32-bit works the same as 64-bit - worse than release?

https://github.com/AqlaSolutions/AqlaSerializer/releases/tag/v.1.0.0.931-beta

[2016-01-09 23:56] ab-tools commented on #3
I meant that 32 bit is the same as 64 bit - both compiled by me and both were about 10 sec. slower than the last release version.

But now I tested it again (several rounds) with your beta build - with same bad result:
it's still about 10 sec. slower than version 1.0.0.818. So it obviously was not the problem of my build, but really due to the code change.

So you can't reproduce the performance i

[2016-01-10 00:01] AqlaSolutions commented on #3
Ok, thank you for reporting. I'll try to find through the tests the case where the performance impact will be reproducable but you can speed things up and send me an example from your code.

[2016-01-10 09:02] ab-tools commented on #3
Thank you for your great support!

Unfortunately I can't send you the code as I would almost need to send you the whole program, but did you test it with such a graph database we had in issue #1?

There I also send you an example if I remember correctly and I'm just using the "work-around" you suggested - starting a new thread with bigger stack size like this:

[code]

That works really without pr

[2016-01-10 09:10] ab-tools opened #4 "Progress Callback"
As it's not totally related and more like a question, I thought I better open another issue here for that.

With the bigger database I have - even with the older, faster version - it takes about 30 sec. to serialize. That's not a problem to let the user wait for, but it would be great to be able to show some sort of progress to the user.

Is there any chance that AqlaSerializer could send a callba

[2016-01-10 13:55] AqlaSolutions commented on #3
I fixed it, you may check the last commit; had to rollback some changes because the legacy code was very low-level optimized. You may set `TypeModel.AllowStreamRewriting = false` if you have speed issues but I believe now the performance difference won't be noticeable except some corner cases (very big monolithic objects like that blob - but you'd want more to save memory in that case).

[2016-01-10 14:37] AqlaSolutions commented on #4
Progress is something that requires `current` and `total` numbers. Unfortunately even AqlaSerializer itself doesn't know preliminary how many objects or bytes will be in `total`. If you expect some size of data you may use your wrapper around stream to track when its length is being changed.

[2016-01-11 17:00] ab-tools commented on #4
Yes, thought that already, but just wanted to ask. ;-)

Thanks anyway!

[2016-01-11 17:00] #4 closed, assigned to nobody

[2016-01-11 17:03] ab-tools commented on #3
Sorry for the delay, just had too much work today.

Just gave it a try now and it really works very well with the latest version now:
I saw absolutely no speed difference anymore with the latest source code version to version 1.0.0.818 (run old version and new version two times each and it always were +/- 0.5 sec.).

Also the "big single byte object" still works without problems.

So this version

[2016-01-25 13:35] AqlaSolutions opened #5 "V2 is soon"
These features are already available in the <a href="https://github.com/AqlaSolutions/AqlaSerializer/releases/">V2 beta version</a>:
1. **Google Protocol Buffers format support is back** (I've reconsidered this)  - (de)serialization.
2. Improved reference tracking (e.g. surrogate fix and referencing arrays from inside themselves).
3. Improved versioning (e.g. between reference-nonreference-null-no

[2016-01-29 08:20] ab-tools commented on #5
That is really great news!

Especially number 9 is very interesting for me as although the current version works with extended stack size it is quite slow.

When you think the first usable version will be ready?

The reason I'm asking this is that we will release the product where I'm currently using AqlaSerializer very extensively in about 2-3 weeks:
After this release I basically cannot change t

[2016-01-29 17:30] AqlaSolutions commented on #5
@ab-tools, unfortunately V2 won't be wire compatible with V1. In V2 the serialization flow is significantly changed.

Actually all the promised changes are already implemented but without compilation support yet. You may check the preview version:
https://github.com/AqlaSolutions/AqlaSerializer/releases/tag/v.dev-preview-v2

The emit (compilation) part is very large...  I set the milestone to Febr

[2016-01-29 17:40] ab-tools commented on #5
First thanks for your quick reply as always! :-)

Yes, I guessed that already, but thought maybe you could implement a fallback like if it detects V1 format, it processes it like in V1 version (just read-only). But if V2 comes so quick, it's not needed for me, then I will use V2 directly from my first product release.

I don't need any compilation support, just a "stable" version that I can use:
T

[2016-01-29 17:56] AqlaSolutions commented on #5
@ab-tools
1. There will be a change in collection subtypes serialization soon. I'm not planning to change the format afterwise.
2. I still can't guarantee that there are no hidden bugs which may make me to change the format. But the tests are mostly green (except those relying on emit).
3. Attributes and default settings changes are planned and they may affect which settings are actually applied (

[2016-01-29 18:05] ab-tools commented on #5
OK, good, I'll wait as long as possible, but also need to get the product release finally done (is already a bit late as always ;-) ).

It would be great if you could do a quick comment here when point 1 is done as it seems I at least need to wait for that.

Thanks again a lot
Andreas

P. S.:
If everything goes well with V2 and I really can used that for my product which would be according to your

[2016-02-07 23:06] AqlaSolutions commented on #5
@ab-tools

I should warn you that the number 9 goal is not to speed things up but to avoid the necessity to create another thread with big stack size. It may be even slightly slower than the recursive version because it does more things like boxing, maintaining reference list, etc.. Although thread creation itself is a slow procedure and big stack size doesn't fit good in CPU cache so number 9 may

[2016-02-10 07:58] AqlaSolutions commented on #5
@ab-tools I made another format change today. I hope it's not too late. Please notify me when you release your app and it's really impossible to change the format anymore.

[2016-02-10 09:53] ab-tools commented on #5
First I'm very sorry to not get back to you earlier - I really appreciate your great work and also keeping me up-to-date on the status.

In fact we're currently very busy to get everything ready for release, but we did not release yet. So the last format change was not a problem.

I will do some tests (especially regarding read performance which is important for us) today evening and will let you

[2016-02-10 13:13] ab-tools commented on #5
Just wanted to compile the latest V2 version, but I only have Visual Studio 2013 and it seems you are using a lot VS 2015 features now.

Could you therefore please provide the latest V2 version any binary?
Then I can do a test with them later today.

Thanks!
Andreas

[2016-02-10 14:07] AqlaSolutions commented on #5
@ab-tools https://github.com/AqlaSolutions/AqlaSerializer/releases/tag/v.dev-preview-2-2-v2

[2016-02-10 14:12] ab-tools commented on #5
Saw that build already, but it seems to be already 20 days old.

Doesn't it make more sense to test with your latest version?

[2016-02-10 14:13] AqlaSolutions commented on #5
@ab-tools it's new, it's just somehow attached to the master branch dates but I'm working in V2 now.

[2016-02-10 14:19] AqlaSolutions commented on #5
@ab-tools oops, now I know why ;)
I've just reuploaded it correctly.

[2016-02-10 14:22] ab-tools commented on #5
Now it looks much better, thanks! :-)

[2016-02-10 22:05] ab-tools commented on #5
Just wanted to do a first test with V2, but I cannot compile the project anymore after referencing the new DLL due to "missing System.Runtime.CompilerServices.ExtensionAttribute..ctor" compilation error.

Sorry, but looks like I need a .NET 4 version of the DLL to reference it in my project. I compile against .NET 4.0 x86.

[2016-02-10 22:31] AqlaSolutions commented on #5
@ab-tools Oh, I see. Let me check it.

[2016-02-10 22:40] AqlaSolutions commented on #5
@ab-tools I created a new .NET 4.0 project, referenced the dll, used it in `Program.cs` and I see no compiler errors there. I'm not sure what may cause your issue.

[2016-02-10 22:46] AqlaSolutions commented on #5
@ab-tools please download the updated binaries from the same link and try to compile using them. I have a guess what may cause the error. But I still can't reproduce it.

[2016-02-10 22:51] ab-tools commented on #5
I really just removed the old AqlaSerializer reference and added the new one. While trying to compile again afterwards, I got this compilation error.

I will try it with your binary again directly tomorrow morning, thanks!

[2016-02-11 00:11] AqlaSolutions commented on #5
@ab-tools I uploaded the full build, you can use net35/net40 version.

[2016-02-11 12:55] ab-tools commented on #5
Just wanted to let you know first that I still get the same compilation error also when I use the .NET 4 version. Maybe not both of the dependencies are .NET 4 as well?

Anyway, it works find with the work-around you mentioned on the download page.
So I can do some first tests now and let you know the results then.

[2016-02-11 13:01] AqlaSolutions commented on #5
@ab-tools I'm absolutely sure (and I've just checked via reflector) that net40 dlls version doesn't include its own declaration of ExtensionAttribute (which was the cause). Either you are not referencing the correct versions of mscorlib and System.Core inside your project or you are still referencing that net30 version.

[2016-02-11 13:03] ab-tools commented on #5
OK, I will double check it once more, maybe I just selected the wrong file after the first test (which is currently running) has finished.

[2016-02-11 13:47] ab-tools commented on #5
I'm sorry, this time it was really my fault - just used the DLL from the wrong folder.
With the .NET 4.0 version everything compiles just fine now!

I also finished first test with the parameters

[code]

as you suggested above and here are my results:
- Saving and loading my 2 database files in the project works fine without any code change except using the options above.
- It seems to be a bit s

[2016-02-11 13:58] AqlaSolutions commented on #5
@ab-tools
1. I'm glad to hear it :)
2. yes, with the compiler support it should be much faster than without.
3. if you remove this line

[code]

then it should work without new thread (can you check pls?) but it will write **all the references** using LateReference technique which is not optimal. I suggest you to keep it disabled until I add a possibility to specify `LateReference` mode per member

[2016-02-11 14:19] ab-tools commented on #5
First thanks for your very quick reply as always. :-)
1. (empty - stupid Markdown syntax)
2. Very good. Although it's usable at the moment, program start takes some seconds longer which is not so good as it's quite slow already anyway (due to the amount of data that needs to be loaded), but if that gets better with the "compilation support" again that's OK.
3. Just for my understanding "LateRefere

[2016-02-11 14:34] AqlaSolutions commented on #5
2 - there is `NotAsReference` on members which is also affected by `NotAsReferenceDefault` on a member type. `LateReference` may be used only for members which have reference tracking enabled. It changes reference tracking behavior to not use deep traversal ("to not go inside member recursively") but it has to write additional data and therefore it's slower. I recommend to use it only on concrete

[2016-02-11 14:34] AqlaSolutions commented on #5
@ab-tools 2 - there is `NotAsReference` on members which is also affected by `NotAsReferenceDefault` on a member type. `LateReference` may be used only for members which have reference tracking enabled. It changes reference tracking behavior to not use deep traversal ("to not go inside member recursively") but it has to write additional data and therefore it's slower. I recommend to use it only on

[2016-02-11 14:42] ab-tools commented on #5
That makes totally sense, I need this "LateReference" only on a single member of a single type and this member, of course, will also use storing by reference.

I will test that as soon as I can set "LateReference" for members individually.

Just let me know as soon as it make sense to test a new version.

[2016-02-11 23:43] AqlaSolutions commented on #5
So no problems then in case I need to change something in the format, right?

[2016-02-12 00:24] AqlaSolutions commented on #5
@ab-tools

So no problems then in case I need to change something in the format before that time, right?

I have an idea on how to add versioning support for LateReference switch.

[2016-02-12 09:05] ab-tools commented on #5
Yes, the current time plan is to have a final version ready by 22th of February - ideally also with V2 of AqlaSerializer. This would be then one week before the official release, so our beta testers have one week to find hopefully all remaining bugs. ;-)

So at least till 22th of February a format change is no problem, thanks for asking!

[2016-02-15 10:04] AqlaSolutions commented on #5
@ab-tools I've just finished with emit version and run roundtrip performance tests based on your database that you've emailed me before.

V1 runtime: 16753 ms, compiled: 9709 ms (compilation time included).
V2 runtime: 8000 ms, compiled: 3000 ms (+compilation time: 600 ms).

These results were made with automatic late-reference enabled.

I'll upload the beta release later after adding LateReferenc

[2016-02-15 10:07] ab-tools commented on #5
Thanks a lot - that sounds very promising!

[2016-02-18 18:36] aienabled commented on #5
Hello!
I'm really amazed with this fork. Great job! I've just pulled v2 branch, built it and replaced protobuf-net.dll with aqlaserializer.dll, applied a few straightforward changes to my code (thanks for good migration guide!) and everything just works as expected now. In just a few minutes!

I've spent so much time with hacking protobuf-net just to make it works in a proper way (you know - null/

[2016-02-18 23:42] #1 closed, assigned to AqlaSolutions

[2016-02-18 23:56] AqlaSolutions commented on #5
@aienabled Thanks for your feedback! Удачи)

@ab-tools
I decided to include attribute changes into the full V2 release so I postponed the milestone. But other things are ready now. I added the "LateReference" switch that you need in the recent version:

https://github.com/AqlaSolutions/AqlaSerializer/releases/tag/v.2-alpha-35-2

With this version please use the default overload of `TypeModel.Creat

[2016-02-19 06:35] aienabled commented on #5
With v.2-alpha-35-2 (Full\net45) I've got this exception during deserialization (using the same type model as used for serialization):

[code]

However, it works fine with source version from branch v2 (I've built it and take `aqlaserializer.dll` from `AqlaSerializer\protobuf-net\bin\Release`).

[2016-02-19 09:10] AqlaSolutions commented on #5
@aienabled can you provide any sample code? I don't see the issue.

[2016-02-19 09:10] aienabled commented on #5
@AqlaSolutions, sure, I will try to make a minimal sample to demonstrate the issue.

[2016-02-19 09:18] ab-tools commented on #5
@AqlaSolutions: Great, so the current alpha version is format stable. I'll do some test with it today or tomorrow and if everything works fine which from V1 to V2, thanks!

Just out of interest what are these "attribute changes" about you want to include?
But these do not change the format anymore then - so everything stays compatible, right?

And sorry to ask, but I think I did not totally unders

[2016-02-19 09:26] AqlaSolutions commented on #5
@ab-tools

This

And
- More Default-X member options for `[SerializableType]`.
- Strict verification for specified options.
- Big refactoring for the internal mapping system.
- Changes to `ProtoCompatibilitySettings` class to reflect attribute changes.

`AutoCompile` is automatic `CompileInPlace`. Full compilation creates a separate serialization dll which can be referenced and used directly inste

[2016-02-19 11:05] aienabled opened #6 "DeserializeWithLengthPrefix() overload with SerializationContext is absent"
Hello!
I cannot find overload of DeserializeWithLengthPrefix() public method which accepts SerializationContext.
I've added it myself and it works fine: (TypeModel.cs)

[code]

Regards!

[2016-02-19 11:19] aienabled opened #7 "Bug: IgnoreListHandling is not works / serializing of custom collections never invokes callbacks"
Hello!
I've a custom collection class which is implements IList<T> and it's basically just a wrapper over a list instance (and the only serialized field is the inner list).

The problem is that a custom callback delegate (`metaType.Callbacks.AfterDeserialize = ...`) is never called in this case. But when I remove IList<T> from class definition it works perfectly well.

I know there is a setting fo

[2016-02-19 11:22] AqlaSolutions commented on #6
Ok, I'll add it. Is it the cause of "Wrong format version" you mentioned in #5 so I may consider that problem solved?

[2016-02-19 11:23] aienabled commented on #6
@AqlaSolutions, thanks!
No, this is a different issue. I will prepare the sample as soon as possible.

[2016-02-19 11:40] aienabled commented on #5
@AqlaSolutions, it seems the issue was on my side. I cannot reproduce the issue now after all my fixes. Sorry for false report!

[2016-02-19 11:41] aienabled commented on #7
I will try latest source version now.
It seems IgnoreListHandling is working with it - I've got exception `Repeated data (an array, list, etc) has inbuilt behavior and can't have fields` if it's set to true and no exception if false.

[2016-02-19 11:45] aienabled commented on #7
Yes, latest version is throw exception if I try to define fields for my custom collection type when `metaType.IgnoreListHandling` is false. That's good.

However with `metaType.IgnoreListHandling = true` the callback delegate `metaType.Callbacks.AfterDeserialize` is still not called during deserialization.

[2016-02-19 12:04] aienabled commented on #7
I've investigated it a little and found that for my custom type the callback call is emitted by `TypeSerializer.EmitCallbackIfNeeded()` method.
UPD. Yes, the callback IL code is emitted. However, I still not understand why it doesn't called.

[2016-02-19 14:55] AqlaSolutions commented on #7
I made a test for your case and it doesn't seems to be reproducable on my side:

[code]

[2016-02-19 15:12] AqlaSolutions commented on #5
Update 2.0.0.37 for `[SerializableType]` attribute.
https://github.com/AqlaSolutions/AqlaSerializer/releases

[2016-02-19 15:14] AqlaSolutions commented on #7
If you are using attributes from aqlaserializer.dll, please try the recent version as it has fixes to the `[SerializableType]` attribute:
https://github.com/AqlaSolutions/AqlaSerializer/releases

[2016-02-19 15:18] #6 closed, assigned to nobody

[2016-02-19 17:47] aienabled commented on #7
Thanks. I'm not using attributes.
I've extended your test to make it closer to what we have.
It seems the collection itself (without Container) could be properly (de)serialized and callback is called, but everything is broken when the collection is nested inside a Container object.

Please try this:

[code]

[2016-02-19 18:13] #7 closed, assigned to AqlaSolutions

[2016-02-19 18:15] AqlaSolutions commented on #7
Resolved...

[2016-02-19 18:22] aienabled commented on #7
The fix is confirmed. Thanks!

[2016-02-20 08:57] ab-tools commented on #5
@AqlaSolutions: Just got me a Visual Studio 2015 version here and tried to compile v.2-alpha-37 myself now, but got a lot of error messages.

I also got the very latest source code of your runsharp fork and made sure the "aqlaserializer" project  finds the source. Then I tried to compile the "aqlaserializer" project (not the whole solution, just this single project). It first compiled the referenc

[2016-02-20 09:07] ab-tools commented on #5
@AqlaSolutions: Got it, sorry!

I just needed to remove all the other projects (like the phone projects) from the solution and afterwards it compiled just fine.

Don't really understand why that's necessary as I just compiled the single project and not the whole solution. Anyway, it works now! :-)

I will do some performance test with my latest project version today and let you know then.

Thanks!

[2016-02-20 09:19] ab-tools commented on #5
@AqlaSolutions: Sorry to bother again, but got another question.

WIth V1 I used for most of my types (not all of course, like the two mentioned that even need late binding) the attribute "NotAsReferenceDefault = true", because they do not need to be saved by reference as I know they will only exist once. So I would consider it more efficient in terms of performance and needed space to not save th

[2016-02-20 10:08] AqlaSolutions commented on #5
@ab-tools I think your compile errors were caused by those Phone8/etc projects using different RunSharp per-platform projects as dependencies - you compiled only the one main RunSharp, right?

Instead of `AsReferenceDefault` there are new properties on `[SerializableType]`. Set `DefaultMemberFormat = MemberFormat.Compact` to disable both reference tracking and null support or set `EnhancedWriteAs

[2016-02-20 10:25] ab-tools commented on #5
@AqlaSolutions:

Yes, I only built the main project.

But anyway, after removing all the other (for me not needed) project from the solution everything compiles fine now. Thanks!

Not sure if I got that correctly yet what I need to change:
In V1 everything was "by reference" as default and I used the `NotAsReferenceDefault = true` option on the types that should not be stored as reference. I did n

[2016-02-20 10:29] AqlaSolutions commented on #5
@ab-tools yes, correct.

It's default if you are using Aqla native attributes. If you are using `ProtoContact`/`ProtoMember` they will stay not as reference default for compatibility.

[2016-02-20 10:32] ab-tools commented on #5
@AqlaSolutions: I'm using native attributes - got rid of the old protobuf stuff long time ago already. ;-)

So in this case what I wrote is correct?

[2016-02-20 10:32] AqlaSolutions commented on #5
@ab-tools yes

[2016-02-20 10:40] ab-tools commented on #5
@AqlaSolutions: Perfect, thanks!

[2016-02-20 10:51] ab-tools commented on #5
@AqlaSolutions: Just finished with first performance tests and I'm really impressed by the speed boost of V2 compared to V1 - both saving and reading my database is really A LOT faster now. Great work!

Just gave the `EnhancedWriteAs = EnhancedMode.Minimal` setting a try and it really only had a very minimal effect on file size: 236 bytes less of 70,226,253 bytes in total. Although file size is no

[2016-02-20 11:16] AqlaSolutions commented on #5
@ab-tools there could be multiple roots of this (e.g. if your type is inside collection it has the same `AsReference` mode as the collection member itself) - this part is still "under construction".
There are some workarounds but (considering that you don't care much about the file size) to be sure that everything is going to be compatible with later setups I'd suggest you to just remove those `En

[2016-02-20 11:27] ab-tools commented on #5
@AqlaSolutions: You're right. Basically I also only used this in V1 to optimize everything possible regarding saving/loading speed, but as V2 is so much faster now anyway, that's no problem anymore. So I will just remove those completely, thanks!

Another minor thing:
I noticed that V2 is now also able to serialize something like "short[][]" directly without the need of a surrogate.

I gave that a

[2016-02-20 11:35] AqlaSolutions commented on #5
@ab-tools the reason is that each `short[]` array inside `short[][]` is handled like a normal object (with all its overhead like field number, null/reference data, array length). Later there will be an option to write it in more compact mode but still it won't be as effective as directly writing short[,] until I add a support for jagged arrays

[2016-02-20 11:39] ab-tools commented on #5
@AqlaSolutions: OK, no problem, then I just keep my surrogate for now. Thanks!

[2016-02-21 15:56] ab-tools commented on #5
@AqlaSolutions: After all my tests were successful I just switched to V2 for the latest beta version of my product. :-)

One thing I just wanted to mention/ask:
Do you think it would be possible to use "normal" LINQ when compiling against .NET 4.0 or newer instead of this "LinqBridge.cs"?

I just did this change as I compiled it myself anymore and this saved about 50 KB of DLL size. Although size

[2016-02-21 20:14] AqlaSolutions commented on #5
@ab-tools I decided to use the same LINQ implementation in all targets because different behaviors may cause unexpected and not reproducable bugs - even when it looks like simple thing in reality they behave differently in corner cases. It's a kind of overcautiousness but the size difference is not that big...

When you want to have minimal binaries size you usually run your product in limited .NE

[2016-02-22 17:06] ab-tools commented on #5
@AqlaSolutions: OK, didn't expected that they may behave differently.

But as I'm only using the .NET 4 version (don't have other projects with different targets it need to talk to), it should not cause any problems to use native LINQ hopefully.

[2016-02-23 12:14] aienabled commented on #5
@AqlaSolutions, is there any wiki page covering inheritance support?
AqlaSerializer is positioned as serializer for objects, not simple data. So I expect some improvements in how it handles hierarchies in comparison to protobuf-net.

For example, I have a class with complex hierarchy, and I need to be able to serialize it. I expect it to work out-of-box, but it (source from latest `v2_attributes`

[2016-02-23 13:14] AqlaSolutions commented on #5
@aienabled, there is an automatic subtype registration in attribute mapping when both base and derived type are marked with `[SerializableType]`. In such scenario they should be registered in the same order to have the same ids. Please see also https://github.com/AqlaSolutions/AqlaSerializer/wiki/Batch-types-registration

When you register type from code you still have to specify subtypes manually

[2016-02-23 17:52] aienabled commented on #5
@AqlaSolutions, thank you for detailed response! Please consider adding a special wiki page based on it - it could be very helpful for new developers.

I just checked and can confirm the attributes approach is working fine.
However, I found the same problem as with my code-oriented approach: exception `The type cannot be changed once a serializer has been generated` thrown when I try to serialize

[2016-02-23 21:25] AqlaSolutions commented on #5
And I added a special API method `CloneAsUnfrozen` for such purpose. Just use `TypeModel.Create` to make your own `RuntimeTypeModel` instead of `RuntimeTypeModel.Default` and no need to depend on it or `Reset`.

It's possible to add such option. But it will be impossible to determinate which subtype you serialized so you'll have to tell deserializer an exact concrete type. But such feature won't b

[2016-02-23 21:25] AqlaSolutions commented on #5
@aienabled

Yes, I added a special API method `CloneAsUnfrozen` for such case. But better just use `TypeModel.Create` to make your own `RuntimeTypeModel` instead of `RuntimeTypeModel.Default` and no need to depend on it or `Reset`.

It's not hard to add such option. But it will be impossible to determine which subtype you serialized so you'll have to tell deserializer registered (not base) type. S

[2016-02-24 06:42] aienabled commented on #5
@AqlaSolutions

Unfortunately, .NET Reflection will not return private fields of base class(es) if `GetMember()` is invoked for deferred class type (there is a [question on SO](http://stackoverflow.com/questions/6961781/reflecting-a-private-field-from-a-base-class)). So my issue cannot be resolved this way.

Yes, I'm also considered this sophisticated approach. However, it will require total refac

[2016-02-24 07:14] aienabled opened #8 "Custom / manual serializing API?"
Hello!

I'm currently working on a network system for delta-synchronization of objects from application server to client. It packs every property modification into a message and sends it to client which is then applied it to fully replicate the state of the object on the server side.

**Background.**
Every synchronizable object should implement `BaseNetObject`. The modifications are determined by

[2016-02-24 10:31] AqlaSolutions commented on #8
@aienabled If I understand your issue correctly you may use *Specified properties to specify what needs to be serialized and on opposite side deserialize onto existing instance.

*Specified properties can be used also in surrogate so you can dynamically determine their values in surrogate class depending on your logic with attributes, etc without clogging your data classes.

[2016-02-24 10:34] AqlaSolutions commented on #5
@aienabled ok, cool then )

[2016-02-24 10:46] aienabled commented on #8
@AqlaSolutions do you mean `ShouldSerialize*` or `*Specified` properties? I know about this feature, but it doesn't help with my problem. Or at least I don't know how it could help...

I have a type `SomeDeferredNetObject` which could contain itself fields of the same type. I want to serialize instance of this type - will all its fields. But I want to be able at runtime decide if I want to seriali

[2016-02-24 13:25] AqlaSolutions commented on #8
@aienabled it's a complicated question and I'm quite busy now to think it through so don't expect the answer before Monday. Sorry for the delay.

[2016-02-24 13:44] aienabled commented on #8
@AqlaSolutions, ok, thank you very much!

[2016-02-29 12:21] AqlaSolutions commented on #8
@aienabled

1/ Surrogates sole purpose is to map "complicated" type to its simplified representation for serialization. They are not expected to be "enabled" or "disabled" at runtime and I'm not going to change it because they do what they should do by design and no more.

2/
When you pass an existing instance to `Deserialize` method no new objects will be created except changed subtypes, immutabl

[2016-02-29 13:36] aienabled commented on #8
@AqlaSolutions, thanks for you response.

I'm not asking for changing surrogates approach, I just want to clarify that surrogates approach simply won't work in my case and I need custom/manual serialization API.

I do not pass any entity to `Deserialize()` method (I pass null) because I'm transferring only delta-updates, not full object graph itself, and deserialize only these small objects. This

[2016-02-29 14:29] AqlaSolutions commented on #8
@aienabled There are `Serialize/Deserialize` overloads which accept `ProtoWriter/Reader`. Before serializing/deserializing you may register your known objects into `ProtoWriter/Reader.NetCache` (it's internal + some changes will be required for root object handling so you need to fork). When writing/reading they will be already present in the reference-tracked cache so no real object data will be

[2016-03-01 04:56] aienabled commented on #8
@AqlaSolutions, thanks, this is exactly what I need. However, I cannot find how I could create overloads accepting `ProtoWriter/Reader`. Might you give me a brief example please?
Also, it would be best if I could separate serialization/deserialization methods and the class code, because the classes are user-defined and should not contain any other methods.
Regards!

[2016-03-01 09:04] AqlaSolutions commented on #8
@aienabled method signatures on `RuntimeTypeModel`:

[code]

`SerializationContext` is passed to `ProtoReader/Writer` so its already included. See the source code of normal overloads for `Serialize/Deserialize` as an example how to use `ProtoReader/Writer`. If you need a length-prefixed version there will be a bit more code.

As long as you store known objects list separated from such class code i

[2016-03-01 09:21] aienabled commented on #8
@AqlaSolutions, thanks, I will try it.

[2016-03-03 21:05] AqlaSolutions commented on #5
Beta is out!

https://github.com/AqlaSolutions/AqlaSerializer/releases

I added mapping examples to the header in this issue.

@ab-tools
Please check the compatibility. You may need to add some attributes but the format is the same.

[2016-03-04 08:58] ab-tools commented on #5
@AqlaSolutions: OK, I will give it a try, thanks!

But I'm not sure if I understood the new mapping attributes correctly yet:
1. Do I need to apply these to all collections (List, Dictionary, ...)?
2. What I need to apply for something like this: `public List<CustomObject> CustomObjects { get; set; }`?
3. What does the serializer uses by default if no such attributes are applied?

[2016-03-04 09:12] AqlaSolutions commented on #5
@ab-tools

Default comes from type settings, otherwise `Reference` if appropriate, otherwise `MinimalEnhancement` for nullables, otherwise `Compact`.

For collections default `CollectionMode` is `Enhanced`.

You may leave it by default unless you want some specific behavior. Just `[SerializableMember(n)]` is enough.

Again, only when you need some specific behavior for collection items.

If you ha

[2016-03-04 09:22] ab-tools commented on #5
@AqlaSolutions: I meant what I need to apply for `public List CustomObjects { get; set; }` to keep it compatible with the pre-release version -  I guess it's this then, right?

[code]

And it would be great if you could write a short explanation (as I guess the Wiki is not ready yet) what the different modes are all about, especially what the mode `Enhanced` does?

Thank you!

[2016-03-04 09:27] AqlaSolutions commented on #5
@ab-tools such explanation is already present in xmldocs, use your IDE.

1/ Suppose you had

[code]

You don't need to change anything here. The defaults are the same.

2/ Suppose you had

[code]

It should become now

[code]

\* edited from `LateReference` as it doesn't support non-default settings on a current and nested levels.

[2016-03-04 13:44] AqlaSolutions opened #9 "Wiki update"
- Update documentation to reflect mapping in V2
- Use information from other issues
- Add basic information (when applicable) from protobuf-net <a href="https://github.com/mgravell/protobuf-net/blob/master/README.md">readme file</a>.

[2016-03-05 14:46] AqlaSolutions commented on #5
I added a <a href="https://github.com/AqlaSolutions/AqlaSerializer/wiki/Member-Formats">wiki page</a> which describes possible member formats.

Also <a href="https://github.com/AqlaSolutions/AqlaSerializer/wiki/Collections">collection formats</a>.

<a href="https://github.com/AqlaSolutions/AqlaSerializer/wiki/Versioning-and-field-numbers">Versioning and field numbers</a>

@ab-tools

[2016-03-05 21:11] #9 closed, assigned to AqlaSolutions

[2016-03-06 13:33] aienabled commented on #8
@AqlaSolutions, so, you recommend to create instance of `ProtoWriter` manually and use `public void Serialize(ProtoWriter dest, object value)` to write the object?
I understand how to use this for custom serialization of the root object. However, I still cannot understand how to use this to custom serialize some objects in objects graph.

What I need is ability to somehow hook into the serializati

[2016-03-06 14:31] AqlaSolutions commented on #8
@aienabled  oh, you really stuck with your approach and don't want to see any other options. I proposed you to delegate known objects tracking to the serializer. It already has reference-tracking mechanism so you just need to populate its internal objects cache with your known objects and then they will be treated as already encountered references.

You asked me about delta synchronization for kno

[2016-03-06 14:51] AqlaSolutions commented on #8
@aienabled if you still want your approach you can modify `SurrogateSerializer.cs` to pass context as an argument for your surrogate converter method.

[code]

If you do this without breaking 1-argument converters I could accept it as a pull request.

[2016-03-06 15:52] aienabled commented on #8
@AqlaSolutions

I understand now, thanks for detailed response! So I can manually add my objects into known objects store (`NetCache` of `ProtoReader/Writer`) before calling serialization/deserialization methods. That sounds good, however this way I will need to delegate all known objects each time I call serialization/deserialization methods, but only some of these known objects might be needed.

[2016-03-07 05:34] aienabled commented on #8
@AqlaSolutions, the surrogates approach is not works for me as it need to use another model for serialization of data (`// this should be another model without surrogate!`).
For example:

[code]

This way `a.SomeProperty` should be serialized as surrogate (it's a known object), but `a` itself should not be serialized as surrogate (it's a new object). But `a` and `a.SomeProperty` are both instances

[2016-03-07 06:08] aienabled opened #10 "Cannot serialize null string when serializing with length prefix"
Hello!
When I'm using `public void SerializeWithLengthPrefix(Stream dest, object value, Type type, PrefixStyle style, int fieldNumber, SerializationContext context)`.
for serializing null string with `PrefixStyle.Base128` I've got this exception:
`System.NullReferenceException: Object reference not set to an instance of an object.
    at AqlaSerializer.ProtoWriter.WriteObject(Object value, Int32 k

[2016-03-07 08:23] aienabled commented on #10
It seems the question could be extending to serializing any nullable root objects.

[2016-03-07 08:34] AqlaSolutions commented on #10
@aienabled serializing nullable root is not supported by design. You can wrap your nullable objects into a generic container.

[2016-03-07 08:35] aienabled commented on #10
@AqlaSolutions, ok, so I will need to wrap these objects into some generic container. No problem, thanks!

[2016-03-07 08:35] #10 closed, assigned to nobody

[2016-03-07 08:41] AqlaSolutions commented on #8
@aienabled right, if you need to handle nested object this way - you can't use surrogates approach.

btw another (but more complicated) solution would be implementing your custom decorator of `TypeSerializer` with your logic for known objects (wrapping can be done in `MetaType.BuildSerializer`).

[2016-03-07 11:39] aienabled commented on #8
@AqlaSolutions, I've implemented approach with registering my own objects in `NetObjectCache` for `ProtoWriter`/`ProtoReader`. All my tests are green now! Thank you very much for your help.
Regards!

[2016-03-08 15:31] #8 closed, assigned to AqlaSolutions

[2016-03-11 23:36] AqlaSolutions commented on #5
@ab-tools you'll also need to set `((AutoAddStrategy)model.AutoAddStrategy).UseLegacyTupleFields = true` before adding any types.

I want to ensure that everything is ok with format compatibility so I can publish the final V2 release without worrying. Please check the last build.

[2016-03-14 08:44] ab-tools commented on #5
@AqlaSolutions: I'm really sorry that it takes so long, but we've just a lot of work right now directly after the release of our product. :-)

By the way, as it's released now, I can also share a link here if you would like to know where your great library is used: It's a [instructor station for Prepar3D and FSX flight simulators](https://www.fs-flightcontrol.com).

I'll try to give your latest ve

[2016-03-16 23:25] AqlaSolutions commented on #5
@ab-tools Interesting, I downloaded your app, it looks like it doesn't detect trial FSX but loads database when I specify directories manually. So it's like a realtime mission/map editor, right?

Please check the format compatibility asap (if you still need it) because it might be impossible to change after the final release of V2 and I have everything ready for the release now.

If you see any pr

[2016-03-17 09:03] ab-tools commented on #5
@AqlaSolutions: Again sorry for the delay, I just started to test already and will send you feedback definitely today (probably in the next few hours already).

By the way, where you downloaded FSX trial from?
Normally it should detect that as well.

[2016-03-17 09:35] ab-tools commented on #5
@AqlaSolutions: I just gave it a try now and only changed two occurances of `EnhancedFormat.LateBinding` to `ValueFormat.LateBinding`.

When I run that now, I get following exception:

[code]

I did not use something like `EnhancedFormat.Minimal`, so I'm not sure what I need to change additionally to make it compatible again.

Do you have any idea what I should search for?

Thanks
Andreas

[2016-03-17 10:59] AqlaSolutions commented on #5
@ab-tools I used FSX from https://www.microsoft.com/Products/Games/FSInsider/downloads/Pages/FlightSimulatorXTrialVersion.aspx installed to a non-system drive.

Try to compare debug schemes with the latest AqlaSerializer and with alpha ( I ported debug schema over alpha: https://www.dropbox.com/s/hm9h7r9gxah0p3r/aqlaserializer%20alpha-r90.zip?dl=1 ).

[code]

Changing between `Reference` and `Mini

[2016-03-17 14:38] ab-tools commented on #5
@AqlaSolutions: Just generated debug schemas for all objects that are used with AqlaSerializer for comparison and there are several differences.

Mainly `WithNullWireType` and `AsReference` are sometimes present, sometimes now.

Would be great if you could have a look - I sent them to you via e-mail.

Best regards and thanks a lot
Andreas

[2016-03-17 15:51] AqlaSolutions commented on #5
@ab-tools

Are you using the latest release?

`Map` - should be compatible.

`Settings` and `Database`:

Seems like you've forgotten to set

[code]

before adding any types.

Field #2 of tuple `KeyValuePair[String,Dictionary[String,String]]:` is written with `NetObject` in release. Same for `KeyValuePair[String,Dictionary[String,Single]]` and several other tuples.

[2016-03-17 16:11] ab-tools commented on #5
@AqlaSolutions: Oh, yes, you're right - I just forgot the `UseLegacyTupleFields` setting.

After this was added, it reads the old data perfectly fine!

By the way, is it possible to enable this `lagacy tuple field mode` only for reading?
Just asking as I'm only using AqlaSerializer. This way it only needs to read the "old" format once, but starting from there it could write with the "new" format w

[2016-03-17 17:46] AqlaSolutions commented on #5
@ab-tools you can use two models - with and without `UseLegacyTupleFields`. Just make sure you setup `UseLegacyTupleFields` before any types are added to model.

[2016-03-18 08:58] ab-tools commented on #5
@AqlaSolutions: OK, I just left it as it is now with `UseLegacyTupleFields` as it works very well - reading and writing - in my further tests. So no problems here with the new version, thanks! :-)

By the way, we checked and this quite old demo version of FSX is indeed not fully compatible, but with the latest program version from our website you can at least build the database (=> use AqlaSeriali

[2016-03-20 09:40] #3 closed, assigned to AqlaSolutions

[2016-03-20 10:10] AqlaSolutions opened #11 "TODO"
1. Merging protobuf-net changes
2. No-versioning mode for most compact output size.
3. Delta synchronization and [Objects tree comparsion](https://github.com/AqlaSolutions/AqlaSerializer/wiki/Plan.-Objects-tree-comparsion)

[2016-03-20 10:11] #5 closed, assigned to AqlaSolutions

[2016-03-23 08:53] aienabled opened #12 "Cannot compile latest source from Master"
Hello!

I just pulled Master HEAD and cannot build it:

https://raw.githubusercontent.com/AqlaSolutions/AqlaSerializer/master/protobuf-net/Serializers/WillSetFieldWireType/Collections/MultiDimensionalArrayDecorator.cs
Error on line 309

[code]

Error message:

(FEAT_COMPILER conditional compilation symbol is used)

Regards!

[2016-03-23 09:05] AqlaSolutions commented on #12
@aienabled you need to use the latest RunSharp version which should be downloaded separately

[2016-03-23 09:06] aienabled commented on #12
Indeed!
Thanks, sorry for false issue :-).

[2016-03-23 15:01] #12 closed, assigned to nobody

[2016-04-16 09:04] ab-tools opened #13 "Removing a SerializableMember Makes Deserializing Fail"
Everything is working really well with AqlaSerializer, I just met following problem now.

I have a serialized object (class attributes `[SerializableType(ImplicitFields = ImplicitFieldsMode.None, EnumPassthru = true)]`) with a data member like this:

[code]

Due to some restructoring I want to completely remove this class member and I thought this is no problem as long as I do not reuse the serial

[2016-04-16 15:19] AqlaSolutions commented on #13
@ab-tools Hi, Andreas! I can't reproduce your issue: https://github.com/AqlaSolutions/AqlaSerializer/blob/fb725d9ffb25e85fd8e50e64b66c5875ae449690/protobuf-net.unittest/Aqla/MemberRemoveVersioning.cs

[2016-04-16 16:47] ab-tools commented on #13
First thanks for your quick reply as always! :-)

That's really strange as I can reproduce it every time here with my data object.

Can it make any difference that I use this attribute on the type model?
`
((AutoAddStrategy)RuntimeTypeModel.Default.AutoAddStrategy).UseLegacyTupleFields = true;
`

Thanks
Andreas

[2016-04-16 17:18] AqlaSolutions commented on #13
@ab-tools as long as your class is not a tuple (you are using an explicit SerializableType attribute so it's handled as a normal class anyway) `UseLegacyTupleFields` won't affect anything.

Try to make a minimal reproducable sample otherwise it's hard to say what can cause this.

[2016-04-16 17:51] ab-tools commented on #13
The overall database structure is much more complicated, of course, so I'm not sure what might cause the problem here.

But I was able to isolate all database related code and just send you a link to an example project via e-mail.

It would be great if you could take a look on it!
You can easily reproduce the problem with that project.

Thanks in advance
Andreas

[2016-04-16 19:29] AqlaSolutions commented on #13
@ab-tools I can't see your mail...

[2016-04-16 19:30] ab-tools commented on #13
Hm, I sent it to your aqla.dev@gmail.com address where I sent already something to in the past.

Did you check the spam folder, too?

[2016-04-16 19:52] AqlaSolutions commented on #13
@ab-tools yep, I found it. I'll look at it but in a few days.

[2016-04-16 20:18] ab-tools commented on #13
Great, thanks.

Please let me know as soon as you have an idea about that as with the next update (planned for Monday or Tuesday) I would like to get rid of this property. :-)

Thanks again for your great support!
Andreas

[2016-04-17 21:07] AqlaSolutions commented on #13
@ab-tools
I think now I can guess why this happens. When serializing reference it's written only at a first  occurrence and all next occurrences have only key written.  Your `ProcedureSegnements` contains `Waypoints` and strings. When traversing through your list, serializer may find such `Waypoint` or string object at a first time so it gets actually written inside list field. Now you remove the

[2016-04-18 18:27] ab-tools commented on #13
@AqlaSolutions: First thanks a lot for your detailed reply!

It's totally fine that an old version is not compatible with a new one (I wouldn't expect that anyway :-) ), but it's a pity that removing no longer used fields is not possible anymore with a new version then. This was always great about the protobuffer stuff that you can easily change the objects (add and remove fields) as long as you d

[2016-04-19 07:34] AqlaSolutions commented on #13
@ab-tools just to be sure that you understand me correctly: by "old version" and "new version" in my previous comment I mean your application, NOT AqlaSerializer v1 vs v2.

[2016-04-19 07:45] aienabled commented on #13
Hi guys!
I have similar issue with my project as well. And workarounds could do nothing as I don't have control over the data classes - they're are user-defined in my case...

@AqlaSolutions, I think you're really need to consider writing all the referenced objects as list in header, so the issue will not be possible as all referenced objects are read separately prior to deserializing everything e

[2016-04-19 07:51] ab-tools commented on #13
@AqlaSolutions: Yes, I understood that correctly.

The problem is that now a "new version" of my app cannot read an "old version" of the data structure anymore if I removed a field there.

Although I do have control over all objects in contrast to @aienabled I at least CAN work around that, but it's really messy to not only have no longer used (private) fields in the objects, but also "deleted" cl

[2016-04-19 08:14] AqlaSolutions commented on #13
@aienabled, late reference mode is not designed for this. It still actually keeps subtype information at "original object" position because an "empty" instance creation can't be postponed (would break immutable stuff and make some things much more complex). Also late reference fields are slower.

I described a possible solution above but it requires both read and write streams to be seekable and i

[2016-04-19 10:45] aienabled commented on #13
@AqlaSolutions, I see. Perhaps you could use a separate buffer stream to serialize everything into and prepare the header with objects list, then write the header together with the serialized objects to the output stream. Of course it will use twice as much memory during serialization, but it will allow to solve the issue once and for all.
I think it could be made optional and enabled by-default.

[2016-05-04 11:53] AqlaSolutions commented on #13
@ab-tools @aienabled can you confirm the fix? Please download the latest release. You need to re-serialize with RC2 to check it.

@ab-tools, please check that you can deserialize the RC1 format in the RC2 (but RC1 won't read back what you write with RC2). Let me know if you see performance or output size problems.

[2016-05-04 17:35] ab-tools commented on #13
@AqlaSolutions: Looks very good in a first test:
I've removed the property from the code and the read with the RC2 DLL the old RC1 format without problems.

Then I saved the database again which worked fine as well resulting in about 5 % size increase (which is no problem for me).
By the way, just out of interest: Why this new format was needed at all as reading the old format works fine now altho

[2016-05-04 18:05] AqlaSolutions commented on #13
@ab-tools yes, you can adjust the limit with model.ReferenceVersioningSeekingObjectsListLimit , it's there just for security reasons so no one can allocate too much memory when it's not expected.

The new format keeps object positions list so reference tracking works correctly when reading  with removed fields. If you have an exception in RC1 when trying to read with removed field then you should

[2016-05-04 18:21] ab-tools commented on #13
Hm, you're right, for whatever reason I can now also read the database again with RC1 after removing the one field which led to problems the last time - really don't understand what's the difference is now...

But if you say I still cannot read a RC1 database after removing a field when I got an error with RC1, this update does not help me anyway as the program is out already and therefore I need

[2016-05-04 18:32] AqlaSolutions commented on #13
@ab-tools I don't really understand why you can't use RC2. If you have your V1 with RC1 released and then release V2 with RC2 - your customers don't need to convert things or something, they just can't load V2 database in V1 but since they already have V2 why would they try to read database with V1?

##

Ah, I see. If you start removing fields in V3 you would need your customers to first update to

[2016-05-04 18:46] ab-tools commented on #13
Exactly, there would be no problem in using RC2 now, of course, it would just have no advantage for me at all as I still cannot remove any fields. ;-)

As updating a component to a new version always has a minor risk in causing other yet unknown problems, I don't like to do that now if it does not have any advantages.

[2016-05-05 06:23] aienabled commented on #13
@AqlaSolutions, it seems to work perfect. I needed to rewrite my external known objects provider (for `NetObjectsCache`), but now it works fine together. Great job!
Regards!

[2016-05-05 07:39] #13 closed, assigned to AqlaSolutions

[2016-06-01 06:03] aienabled opened #14 "MetaType.AddSubType() returns the same meta type, not the derived metatype for added sub type"
Hello!

MetaType.AddSubType() returns the same meta type, not the derived metatype for added sub type.

This seems misleading. I suppose AqlaSerializer should return derived metatype with which the developer could continue working - adding fields, etc.

Regards!

[2016-06-02 08:53] AqlaSolutions commented on #14
I'm agree with this but since AddSubType already returns MetaType changing which MetaType is returned will break existing code in a way that it won't be noticed at compile time. Do you think it's possible to solve such case?

[2016-06-02 09:45] aienabled commented on #14
You can rename the method to something different - for example, `RegisterSubType`. So developers who use this method will get a compilation error and go here to read about the changes.

But, since nobody reported it before, I think it might be safe to assume that nobody really used the result of this method. So maybe a simple fix with mention about it in the release notes will be good enough.

Reg

[2016-11-03 13:21] aienabled opened #15 "Virtual members of AutoAddStrategy should be called only when it makes sense"
Hello!

The exception is thrown when I try to serialize 2D array (in that case it's double[,]):

_Data of this type has inbuilt behaviour, and cannot be added to a model in this way: System.Double_
Stacktrace:
[code]

Any idea how it can be fixed?

Regards!

[2016-11-03 15:41] AqlaSolutions commented on #15
@aienabled, are you using Compatibility mode? Can you provide a test? I can't reproduce this.

[2016-11-03 15:53] AqlaSolutions commented on #15
@aienabled I pushed a possible fix though I still can't reproduce it. Please check it.

[2016-11-04 06:15] aienabled commented on #15
@AqlaSolutions, thank you for the quick reply!
No, I'm not using Compatibility mode.

It seems the issue happens because I'm using a custom `AutoAddStrategy` with custom `CanAutoAddType(type)` implementation. It was returning true for every value type, including `double`. So the serializer invoked `CanAutoAddType(type)`, received true and the code went to the exception throwing section.

I was abl

[2016-11-04 22:37] AqlaSolutions commented on #15
@aienabled, you can make your custom `AutoAddStrategy` to check what the default `AutoAddStrategy.CanAutoAddType` implementation returns (possible only when it encounters unknown namespace?).

Also you can check `RuntimeTypeModel.CheckTypeCanBeAdded`, it doesn't use `AutoAddStrategy` logic. In the latest commit I modified `CheckTypeCanBeAdded` to specially check for builtin types.

Like

[code]

[2016-11-04 22:45] AqlaSolutions commented on #15
@aienabled, ok, I'll change it to ensure that virtual members of `AutoAddStrategy` are called only when it makes sense. But for plain interface `IAutoAddStrategy` (without inheriting `AutoAddStrategy`) it's on your side.

[2016-11-06 22:08] AqlaSolutions commented on #15
fixed in master

[2016-11-06 22:08] #15 closed, assigned to AqlaSolutions

[2016-11-07 02:32] aienabled commented on #15
Thank you! The fix works correctly.

[2017-03-13 13:49] aienabled opened #16 "Problem with serializing nullable enum value"
Hello!

I've noticed than when we serialize nullable enum value with null value and casted to object we have a NullReferenceException.
I mean something like:
[code]
Could you check this please?

[2017-03-13 13:54] AqlaSolutions commented on #16
@aienabled nullable casted to object IS actually null reference, this is C# nullable boxing rules. Plain null object serialization is not supported. For reference types you also can't do `Serialize(stream, null, typeof(XXX))` and this is the same case.

You can use your custom wrapper which won't use these boxing rules (instead of `Nullable<T>` use `YourNullable<T>`).

[2017-03-13 14:00] aienabled commented on #16
@AqlsSolutions, thanks, I absolutely forgot about this.

Wrapped into this structure and it works perfectly well now:
[code]

[2017-03-13 14:00] #16 closed, assigned to nobody

[2017-05-10 12:10] aienabled opened #17 "Support for System.ValueTuple`"
There is no support for new `ValueTuple` (de)serialization. I've hacked my solution based on `type.FullName` check (where there are checks for `System.Tuple`) and commenting out this code:
[code]

[2017-05-10 12:42] aienabled commented on #17
By the way, it's very smelly that the method `MetaType.ResolveTupleConstructor` is actually used not only to resolve the tuple constructor, but for other types as well.

[2017-05-10 15:05] AqlaSolutions commented on #17
Thank you, I'm going to add the support for .NET 4.7 later (and may be Core?), I even don't have VS 2017 installed yet...

[2017-05-11 09:35] AqlaSolutions commented on #17
It is used for AutoTuple feature where you can make your own tuple type and it will be auto-detected. As far as I remember tuples are expected to use only readonly properties - this is why it doesn't detect ValueTuple which uses writeable fields.

[2017-05-11 09:44] #17 closed, assigned to AqlaSolutions

[2017-05-11 09:49] aienabled commented on #17
In that case - all right. I just was confused by the name of the method. Isn't it should be `ResolveAutoTupleConstructor` then?

I will pull your commits to check the `ValueTuple` serialization right now.

[2017-05-11 11:17] aienabled commented on #17
Yes, it works properly.
Thanks!

[2017-06-30 09:51] ab-tools opened #18 "Very Long Deserialization Time on Few Systems"
Hello @AqlaSolutions again!

We are still using your great serialization library, just as a reminder, we are the ones have the bigger graph database as discussed some time ago here:
https://github.com/AqlaSolutions/AqlaSerializer/issues/1

Everything really works well with a database file size of about 100 MB and a deserialization time of about 3-5 seconds on most modern computers which is fine.

[2017-06-30 10:01] AqlaSolutions commented on #18
Hi, the only thing I can suspect is BufferPool.cs related to byte[] allocation:

            // try growing, else match
            int newLength = (Is32Bit && toFitAtLeastBytes > 1024 * 1024 * 50)
                // in 32bit when > 50mb grow only linearly
                ? (toFitAtLeastBytes + 1024 * 1024 * 10)
                // in 64bit grow twice and add 10 kb extra if not enough

[2017-06-30 10:05] ab-tools commented on #18
First thanks a lot for your extremely quick reply! :-)

Good point, for testing I could just change that line to always use the "32 bit" way and see if that helps, right?

That's easier as a first test than using a profiler on the customer machine. ;-)

[2017-06-30 12:59] ab-tools commented on #18
I just send a changed version (`Is32Bit` forced to `true`) to one of the customers who sees this issue:
I will let you know once I got a feedback if this change made any difference.

Really annoying if you cannot reproduce a problem yourself and need to wait for customer feedback...

Thanks again so far!
Andreas

[2017-06-30 20:56] ab-tools commented on #18
Just got feedback from the customer:
Unfortunately the small code change made no difference. Still 10-15 min. database loading time while in 64 bit mode.

Do you have an idea how to profile that easily on the customer computer?
Any tool you could recommend here?

Thanks again a lot for your support
Andreas

[2017-07-01 12:16] AqlaSolutions commented on #18
I prefer to use JetBrains dotTrace, they have a trial version so you should be able to run it there. Or may be even connect remotely. Good luck!

[2017-07-01 13:33] ab-tools commented on #18
Thanks for the suggestion!

I will try to get on the client computer via TeamViewer or so to collect some data with dotTrace...

[2017-07-02 15:09] ab-tools commented on #18
Just had the chance to access the customer PC via TeamViewer and recording some dotTrace samples here:
https://www.fs-flightcontrol.com/download/temp/FS-FlightControl-dotTrace.zip

The "Sampling" and "Tracing" dumps contain only the first 10 seconds or so of the database loading process, for the "Tracing" dump I really waited the full time (I think is was 7-8 min. or so) till the database loading

[2017-07-03 13:08] AqlaSolutions commented on #18
I checked the samples, it looks like GC takes very long time: 9.6 of 14.8 seconds. There may be some unnecessary allocations.
https://www.screencast.com/t/cYXoG8wbe4

There is a feature in dotTrace called "Compare Snapshots" which could be usable here if you profile it again in 32bit mode (sampling, timeline, tracing). Also to track the memory allocation issue I suggest you to capture dotMemory sa

[2017-07-03 13:52] ab-tools commented on #18
First thanks a lot for your analyzing!

OK, I will then re-record the dumps on the client computer in 32 bit to be able to compare them. Additionally I will get some memory dumps as well.

[2017-07-03 21:07] ab-tools commented on #18
So, now I captured the 3 dotTrace sampling variants both for 64 bit and 32 bit:
https://www.fs-flightcontrol.com/download/temp/FS-FlightControl-Dumps.zip

Additionally also 1 memory snapshot while running in 64 bit is included.

I hope this sheds some light on this strange issue. :-)

Thanks again for your support!
Andreas

[2017-07-04 08:24] AqlaSolutions commented on #18
Please add also the memory profiling results for 32bit as I asked previously. I need to compare which objects are allocated more in 64bit.
Snapshots look somewhat differently (due to optimizations) but I can't blame any exact thing. 64 just needs more time for GC. May be GC has some different settings or may be the app swaps to pagefile.
Can you perform profiling with `Model.AutoCompile = false`?

[2017-07-04 08:36] AqlaSolutions commented on #18
Also I have a suspect that `ResourceManager` called from `Control.OnPaint` produces much garbage. May be in 32bit it works better. Consider caching it.  https://www.screencast.com/t/pCVbQZse793

[2017-07-04 12:57] ab-tools commented on #18
Interesting that the `ResourceManager` wastes so much resources here:
Although I don't think that's the problem as the splash screen using this `ResourceManager` call frequently is shown also while other things are loaded on program start, but only the database load is delayed so much in 64 bit, I still cached the image which is loaded here now. So at least this "garbage" should be saved now. :-)

[2017-07-04 16:52] AqlaSolutions commented on #18
You can skip only 1 - "Sampling" - because "Tracing" replaces it but I need "Timeline" anyway to find memory allocations.

[2017-07-05 20:13] ab-tools commented on #18
I think we really found the problem - it's the auto compilation!

As you requested I've tested now with `Model.AutoCompile = false` and then it start more or less in the same time in 64 Bit as in 32 Bit. I verified that several times switching back and forth with the EXE files (with and without `AutoCompile` and I could reproduce it everything time).

Still I recorded all the snapshots you request

[2017-07-05 22:03] AqlaSolutions commented on #18
@ab-tools, for `AutoCompile = false` I don't think that those snapshots may show anything useful if the issue was not reproduced with it. At least now we know that it's somehow related to the compilation. But I still need the 32bit memory snapshot without `AutoCompile = false` change. btw how long did it take to perform deserialization with `AutoCompile = false`?

The fast solution for you would b

[2017-07-06 08:40] ab-tools commented on #18
Thanks for your quick reply again!

The customer computer is quite slow (only an old Core2Duo), so it took about 10 sec. or so, but still A LOT quicker then the about 10 min. with `AutoCompile` enabled. :-)

I just uploaded the new dumps here:
https://www.fs-flightcontrol.com/download/temp/FS-FlightControl-Dumps2.zip
This also includes the requested 32 Bit memory dump with `AutoCompile` (= without

[2017-07-06 09:08] ab-tools commented on #18
Just trying to prepare the test versions for the customer.

Maybe stupid question, but I never used this pre-compiled assemblies yet:
Do I really have to add ALL possible types (including inherited sub-types) to the model manually?
I mean that are quite a lot classes to add in this case...

Till now I only registered the required surrogates on type model, nothing else.

And the parameter `applyDef

[2017-07-06 10:37] AqlaSolutions commented on #18
Right, the default behavior. But you don't need to add them manually.

Just export once the state of your model after deserializing your data (which auto-adds types) - `model.Serialize(model.ExportTypeRelations())` and embed it with your app as a `byte[]` resource or a file.

Then instead of adding types modify your code to use `model.ImportTypeRelations(model.Deserialize(...), true)` - all types

[2017-07-06 11:08] AqlaSolutions commented on #18
Can you also check it with `CompileInPlace`? The same way using `ImportTypeRelations`.

[2017-07-06 15:13] ab-tools commented on #18
OK, I see that's still a bit more to test again, so it's probably better I'll do that via TeamViewer on the customer computer again myself:
Unfortunately the customer always has only time at the evening and I don't have time today and tomorrow evening. I therefore try to get a date with the customer somewhen this weekend.

Just wanted to let you know that you don't think I forgot it when I don't r

[2017-07-07 09:46] ab-tools commented on #18
Just wanted to prepare the tests for the customer already, but when trying to so something like
[code]
it seems that the `TypeModel` object does not have a function `ExportTypeRelations()`.

How can I access this?

Best regards
Andreas

[2017-07-07 10:41] AqlaSolutions commented on #18
@ab-tools RuntimeTypeModel has

[2017-07-07 10:59] ab-tools commented on #18
Ah, I see, thanks!

[2017-07-08 11:05] ab-tools commented on #18
Unfortunately I have still a lot problems getting the `model.Compile()` to work:
First all our database classes are `internal` which the compile method obviously does not like. So I changed all about 100 model classes and enum types to `public`.

Then the compile function worked fine, but it could no longer read the existent database.

So I thought I'm completely rebuilding the database with this

[2017-07-08 11:26] AqlaSolutions commented on #18
It's hard to say anything from the code you provided.

1. You don't need `foreach` for `ImportTypeRelations`, it accepts `ModelTypeRelationsData` directly as an argument and also you should pass `true` as a second parameter.
2. It looks like the data you are loading is somehow broken (multiple serializations to the same stream without *LengthPrefix?)
3. You might use a wrong model instance e.g. ca

[2017-07-08 11:54] ab-tools commented on #18
Thanks for your quick reaction again!

Your point 1 was the problem:
After I used `ModelTypeRelationsData` directly with the second argument being `true` it worked!
Sorry, not sure why I missed this function overload before.

OK, as I already mentioned, I should have tomorrow afternoon the next chance to do tests on the customer computer:
Then I will do all the test you wrote above.

[2017-07-09 13:36] ab-tools commented on #18
So, now I did all the tests on the customer PC that you requested with following results:
[code]

As I had time differences +/- 60 sec. in the slow 64 Bit tests anyway the slightly faster database load of `typeModel.Compile` when used with parameters to write the assemble should not be considered. All 64 Bit tests were basically "the same extremely slow" except the one using `typeModel.AutoCompile

[2017-07-09 14:18] ab-tools commented on #18
I still have access to the customer computer right now (for the next hour or so):
So if you would have another idea what to test, I could do so directly now...

[2017-07-09 20:17] AqlaSolutions commented on #18
Thanks for testing it. I checked the dlls you sent me and they are 100% identical except GUID field. The same code just runs with different speed.

1. May be the JIT compiler works somehow differently with these dlls on 64bit.  I'm sorry for asking you to test again but I need to compare "cold-start" and "hot" deserialization speeds for compiled dlls version. And during checking it please use alre

[2017-07-09 21:03] AqlaSolutions commented on #18
@ab-tools if the reason is JIT compiler this could be solved by updating .NET framework + latest patches. There is an issue on how x64 JIT handles long methods https://connect.microsoft.com/VisualStudio/feedback/details/508748/memory-consumption-alot-higher-on-x64-for-xslcompiledtransform-transform-then-on-x86 but since the issue is not reproducable on your machine it could be already fixed in .NE

[2017-07-10 14:19] ab-tools commented on #18
OK, I will try to get access to the customer PC for another test round. ;-)

In fact not:
I just checked and the time I have written in the protocol above is really only opening the database `FileStream` and calling the `Deserialize` method - nothing else. The compilation of the type model has been done before.

What's the best (and reliable) way to check the .NET 4.0 version number?
Then I could

[2017-07-10 15:10] AqlaSolutions commented on #18
@ab-tools may be this https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/how-to-determine-which-net-framework-updates-are-installed , compare the outputs on your and your customer machines. Or just ensure that windows update works properly.

[2017-07-10 15:18] ab-tools commented on #18
OK, I will check that.

I just to be sure I got the "cold" and "hot" start right:
You mean the difference if it loads in 64 bit the first time and the following times, right?

Here I think I can directly say that this does not have a considerable influence:
As I mentioned in the test protocol above already, I had different loading times with exactly the same assembly of +/- 60 sec. directly one af

[2017-07-10 15:21] aienabled commented on #18
Hi guys,
If the issue is not reproducible on another computer, it's definitely related to software configuration or hardware. I would recommend trying to use this wonderful tool https://www.microsoft.com/en-us/download/details.aspx?id=30135

[2017-07-10 15:22] AqlaSolutions commented on #18
During the previous test It was not exactly the same assembly, those assemblies were produced by different compilation calls so JIT-ed each time.

Do you mean that writes are same slow?

Thanks, @aienabled

[2017-07-10 15:27] ab-tools commented on #18
Thanks, @aienabled, for helping. :-)

It is till now reproducible on about 3-4 customer computers I know of.
But good point, I will try the .NET repair tool you mentioned on the customer PC.

@AqlaSolutions, Why writing?
On the customer PC I only tried loading the database (which is the much more important case as done on every program start), no writing it.

[2017-07-10 15:41] aienabled commented on #18
@ab-tools, if the issue is reproducible on other computers than it's more likely to be a software issue than hardware. Other than updating and repairing .NET Framework I would also recommend looking into the system monitor to check if there are any background applications which could affect the performance. It could be an antivirus software.

[2017-07-10 15:42] AqlaSolutions commented on #18
@ab-tools in the

what do you mean by:

[2017-07-10 15:53] ab-tools commented on #18
@aienabled: Good point, but there was no anti-virus or firewall program running - that's always the first thing I check. :-) But I will create a SystemInfo dump the next time I'm on this customer PC to check the running processes in more detail.

@AqlaSolutions: Sorry, this sentence was really a bit confusing.
I just wanted to say that between the very first time I ran a test on the client PC yest

[2017-07-10 15:55] AqlaSolutions commented on #18
@ab-tools ok, ensure that you are not making new models with `Compile()` on each read, for best just use already pre-generated dlls.

[2017-07-12 09:36] ab-tools commented on #18
I had the chance to test on the customer computer again and I can't believe it, but we really found the problem:
In fact, .NET itself was the problem!

On the customer computer all Windows Updates were displayed (with the last update end of 2014) which is normal as it's a flight simulation computer - everybody that has a system that "just needs to run as it is" will at first disable all Windows Up

[2017-07-12 09:43] aienabled commented on #18
@ab-tools, we learned the same lesson at least two times... Since then the first thing we do is running .NET Framework Repair tool and installing latest patch version (i.e. 4.5->4.5.2, 4.6->4.6.2).
With .NET Core 2.0 this problem could be finally resolved - just ship it together with the product. .NET Core 2.0 has almost all API from .NET Framework so the transition should be smooth. But WPF appli

[2017-07-12 09:47] AqlaSolutions commented on #18
@ab-tools cool, finally we resolved this

[2017-07-12 09:47] #18 closed, assigned to nobody

[2017-07-12 09:58] ab-tools commented on #18
@aienabled: We didn't look into .NET Core yet to be honest. Our product is still WinForms based. Is that supported by .NET Core 2.0?

@AqlaSolutions: Two short other questions:
1. Although we did not need it anymore, I tried to use
 (TypeModel)Activator.CreateInstance(Assembly.Load("FlightControlModel.dll").GetType("FlightControlModel"))
to load the pre-compiled type model, but whatever I do it al

[2017-07-12 10:24] aienabled commented on #18
@ab-tools ,

Unfortunately, no, and it seems it will never be supported. AFAIK, only UWP (which is very similar to WPF) and Xamarin Forms have support now.

[2017-07-12 10:58] AqlaSolutions commented on #18
@ab-tools,
1. it references your original dll with types used in serialization and aqlaserializer.dll with its dependencies. Make sure you put the model dll beside your app dlls.
2. see the comments starting from https://github.com/AqlaSolutions/AqlaSerializer/issues/13#issuecomment-216838290

[2017-07-12 15:28] ab-tools commented on #18
Thank you both!

I now also got the DLL loading to work - you just need to use `Assembly.Load(@"FlightControlModel")`, so without ".dll"!

But as the runtime compilation works fast, I probably won't use that, makes everything only more complicated adding another source of errors. ;-)

Thanks again for your great support!
Andreas

[2019-11-29 14:10] Gl237man opened #19 "MetaType.ArrayLengthReadLimit"
how set MetaType.ArrayLengthReadLimit?

[2019-11-29 15:17] AqlaSolutions commented on #19
`RuntimeTypeModel.Default.Add(type, true).ArrayLengthReadLimit = x`

[2019-11-29 15:23] AqlaSolutions commented on #19
As alternative you can use `List<T>` without modifying settings.

[2019-12-02 06:54] Gl237man commented on #19
Thank you, it helped me a lot.

[2019-12-02 06:54] #19 closed, assigned to nobody

[2020-10-05 09:33] AqlaSolutions commented on #11
The development is suspended but the current version is stable and ready to use.

[2020-12-27 16:20] AqlaSolutions opened #20 "News: support for .NET Standard 2.1 including .NET Core 3 and .NET 5"
The .NET Standard version of AqlaSerializer is released. Don't hesitate to download and try it!

[2021-01-01 13:42] AqlaSolutions opened #21 "Merging from protobuf-net: need help"
I'm trying to merge the current state of protobuf-net main branch but it's a lot of work.  If you'd like to use the newest features of protobuf-net like proto3 support on AqlaSerializer please either contribute to the merging process by issuing a pull request or a donation so I can put more time myself into doing the merge. You can also help by spreading the word about this project so it can have

[2022-03-23 00:19] inethui opened #22 "How to build AqlaSerializer?"
I want to use AqlaSerializer to replace the .NET binary formatter we are currently using.

It would be very helpful if I can debug into AqlaSerializer's source code. I have downloaded the source code from its github site. The download includes a very short description about the build, which I could not follow. If you can show me some instructions of how to build it, it would be great.

[2022-03-23 08:03] AqlaSolutions commented on #22
You can use prebuilt nuget packages. If you need to debug the source code please specify what exactly issues you have in following the instructions. Also mind that some platforms are not supported in latest VS or require installing additional SDKs. Though you might not need to build for those platforms at all. And you don't need to build all projects in the solution.

[2022-03-23 08:33] AqlaSolutions commented on #22
I updated the build instruction, please try to follow it and ask here if you have issues: https://github.com/AqlaSolutions/AqlaSerializer/blob/master/READ%20IF%20YOU%20WANT%20TO%20BUILD.txt

[2022-03-23 13:55] inethui commented on #22
I’m trying to use .NET reflection to build the Aqla metadata model. However, when I ran “CompileInPlace”, it failed with error:
ProtoException: Type System.Double can't be handled as reference

I checked my code, there is no place that a double type or field is set with “metaType.AsReferenceDefault = true”. How to trouble-shoot this kind of issue? Is there a debug flag to turn on more detailed err

[2022-03-23 14:08] AqlaSolutions commented on #22
I can't answer your question without a reproducable example.

You don't need to use any reflection to call methods inside AqlaSerializer. You can use `RuntimeTypeModel` API to configure things.

[2022-03-23 14:48] inethui commented on #22
How to run the build? I loaded "AqlaSerializer.sln” and tried to build the solution but this failed with many errors:

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0534	'EventGen.EventInfoProxy' does not implement inherited abstract member 'EventInfo.IsNonPrivate.get'	RunSharp_IKVM	D:\RunSharp\src\RunSharpShared\EventGen.cs	254	Active
Error	CS0534	'EventGen.EventInfoProxy'

[2022-03-23 15:15] inethui commented on #22
I downloaded “RunSharp” source file “runsharp-v.1.0.23.zip”, where should I put its content? My AqlaSerializer source code is in “D:\AqlaSerializer\AqlaSerializer-v.2.0.1.0”.

Thanks

Hui Lin

From: Vladyslav Taranov
Sent: Wednesday, March 23, 2022 3:33 AM
To: AqlaSolutions/AqlaSerializer
Cc: inethui; Author
Subject: Re: [AqlaSolutions/AqlaSerializer] How to build AqlaSerializer? (Issue #22)

I up

[2022-03-23 15:25] AqlaSolutions commented on #22
Don't build whole solution. You should try to build only one project: aqlaserializer.csproj. RunSharp files should be in  `..\RunSharp\src\RunSharp` which is `D:\AqlaSerializer\RunSharp\src\RunSharp` in your case. You can verify the path from Solution Explorer (RunSharp is in the solution and should be loaded). Also you won't be able build until you generate snk keys.

[2022-03-23 15:52] inethui commented on #22
Vladyslav,

Thanks for updating the build instruction. I’m following it to build the downloaded source code. There is a problem, .NET Framework Developer Pack 4.5 is no longer supported and not available for download. So I downloaded and installed version 4.5.2. However, AqlaSerializer doesn’t seem to accept it, and insist on finding 4.5. This is the error message:

Error	MSB3644	The reference ass

[2022-03-23 17:45] AqlaSolutions commented on #22
You don't need to search any SDKs online. When opening the solution VS 2022 prompts to install everything needed, including the proper version .NET Framework.

[2022-03-24 15:41] inethui opened #23 "Does class fields get serialized by default?"
According to the wiki, public class properties are serialized by default. How about class fields? Do we need to mark them with protobuf attribute?

[2022-03-24 15:47] AqlaSolutions commented on #23
You need to either specify `ImplicitFields = ImplicitFieldsMode.PublicFieldsAndProperties ` in the class attribute or use `[SerializableMember]` attribute on a field.

[2022-03-24 15:48] AqlaSolutions commented on #23
Oops, `ImplicitFieldsMode.PublicFieldsAndProperties `

[2022-03-24 16:33] inethui commented on #23
Thanks for the quick reply. If I understand correctly, we can make public fields and properties serialized by default. How about private fields? Can we make them automatically serialized?

[2022-03-24 16:47] AqlaSolutions commented on #23
`ImplicitFieldsMode.AllFieldsAndProperties`

[2022-03-24 23:07] inethui opened #24 "Type System.Double can't be handled as reference"
The following code generates error message "Type System.Double can't be handled as reference", which I don't understand. I think the code should work, instead of failing with some weird messages. Can you take a look please?

        [Test]
        public void RegisterCollectionClassWithMemberFields()
        {
            var model = RuntimeTypeModel.Default;

            var metaType = model.Add(

[2022-03-25 08:31] AqlaSolutions commented on #24
using AqlaSerializer.Meta;

    namespace ConsoleApp5
    {
        public class Test
        {
            public void RegisterCollectionClassWithMemberFields()
            {
                var model = RuntimeTypeModel.Default;

                var metaType = model.Add(typeof(WithCollectionClassWithMemberFields), true);
                metaType.AsReferenceDefault = true;
                metaType

[2022-03-25 08:51] AqlaSolutions commented on #24
`AsReference` changes settings for all levels where `double[]` is level 0 and `double` is level 1. You need to change settings only for level 0. This is why it's marked obsolete.

[2022-03-25 13:56] inethui commented on #24
Thanks for the solution. I'm using reflections to setup the default model. We have more than 10k classes.  Is it possible to make the Aqla APIs more easily to use? For example, AsReference only change level 0 by default. Also, can Aqla be enhanced to automatically detect the double array and setup the levels accordingly. I'm not sure how to determine the levels in our reflection-based code.

[2022-03-25 14:03] AqlaSolutions commented on #24
AsReference is an obsolete member inherited from protobuf-net and must retain its semantics. I have no plans to change behavior of obsolete members.

[2022-03-25 14:04] inethui commented on #24
Can Aqla be enhanced to automatically detect the double array and setup the levels accordingly?

[2022-03-25 14:05] AqlaSolutions commented on #24
Please see https://github.com/AqlaSolutions/AqlaSerializer/wiki/Member-Formats#defaults

You don't need to manually set members `AsReference`, it works automatically.

[2022-03-28 14:26] inethui opened #25 "How to defined sub-type of open generic type?"
I have two generic classes (A and B) defined as below. B is a subtype of A. However, my setup doesn't work. I got an error like "Unexpected sub-type B". Any suggestion on how to make it work?

    public static class Test
    {
        public static void Main(string[] args)
        {
            var b = new B<int>(1, 2);
            var clone = Serializer.DeepClone(b);

            if (clone.Membe

[2022-03-28 14:46] AqlaSolutions commented on #25
It's not possible to define a subtype of an open generic. You should specify exact subtypes. Also you should use attribute on a base type, not subtype. Please read wiki: https://github.com/AqlaSolutions/AqlaSerializer/wiki/Versioning-and-field-numbers#hierarchy

    [SerializeDerivedType(1, typeof(B<int>))]
    [SerializeDerivedType(2, typeof(B<string>))]
    [SerializeDerivedType(3, typeof(B<C>))

[2022-03-28 14:50] #24 closed, assigned to nobody

[2022-03-28 14:50] #23 closed, assigned to nobody

[2022-03-28 14:51] AqlaSolutions commented on #22
Please reopen if you need more help

[2022-03-28 16:20] inethui commented on #25
Thanks for the suggestion. Does Aqla support all .NET framework collection types?

[2022-03-28 19:48] AqlaSolutions commented on #25
It supports those which implement `IList<T>` or `IDictionary<K,V>`

[2022-03-28 19:49] #25 closed, assigned to nobody

[2022-03-28 23:37] inethui commented on #25
Thanks. This is really helpful.

[2022-04-02 20:08] inethui opened #26 "IList clone changes the type"
The following unit test fails on the second assert:
    Expected: typeof(int[])
    Actual:   typeof(System.Collections.Generic.List<int>)

        [Fact]
        private void CloneListOfList()
        {
            var listOfList = new List<IList<int>> { new[] { 1, 2 } };
            var clone = Serializer.DeepClone(listOfList );
            Assert.Equal(listOfList .Count, clone.Count);

[2022-04-02 21:14] AqlaSolutions commented on #26
This happens because subtype information is preserved only when such subtype is registered in the model. Otherwise there is no way to tell which exact type should be created. Currently it doesn't work with array subtypes and this looks like a bug.

A "hacky" solution could be hinting which type you expect:

    MetaType outer = model.Add(typeof(List<IList<int>>), true);
    outer.SetNestedSettings

[2022-04-02 21:37] inethui commented on #26
Thanks for the quick response. We'll tweak our classes to work around this issue

[2022-04-03 17:14] AqlaSolutions commented on #22
I pushed some changes in an effort to simplify the build process. You should be able to build solution except MonoDroid project after installing everything what Visual Studio suggests and putting PEVerify.exe into the Tools directory.

[2022-04-09 10:35] SpeedysWorkingArray opened #27 "Can I serialize a tuple?"
Hello together,
I had tried to serialize a simple tuple in a small test, but did not get the wanted result when deserializing. Is it possible to serialize a tuple?

![image](https://user-images.githubusercontent.com/48484512/162568154-0e1fd886-6034-4050-9a35-987f7b833618.png)

[code]

[2022-04-09 10:46] AqlaSolutions commented on #27
You've forgotten `[SerializableMember(1)]`

[2022-04-09 11:09] SpeedysWorkingArray commented on #27
Runs, thank you very much! 👍😃

[2022-04-09 16:42] #27 closed, assigned to nobody

[2022-04-20 00:42] inethui opened #28 "How to model "Lazy" field with Aqla?"
I have a class which contains a "Lazy" field, how to set it up and make the test case work? Any help is highly appreciated.
[code]

[2022-04-20 07:43] AqlaSolutions commented on #28
As far as I remember Lazy is not supported but you can make a surrogate type.

    RuntimeTypeModel.Default.Add(typeof(Lazy<double>), false).SetSurrogate(typeof(LazySurrogate<double>));

    [SerializableType]
    public class LazySurrogate<T>
    {
        [SerializableMember(1)]
        public T Data { get; set; }

        public static explicit operator Lazy<T>(LazySurrogate<T> value);// implem

[2022-04-20 13:56] inethui commented on #28
Thanks a lot!

[2022-04-20 14:05] inethui commented on #28
Also, does Aqla support "Action" and "Func" type fields?

[2022-04-20 20:39] AqlaSolutions commented on #28
Delegates are not supported. They are code pointers and not meant to be serialized.

[2022-04-21 07:19] #28 closed, assigned to nobody

[2022-04-22 15:56] inethui opened #29 "How to support inheritance of a class and an interface"
I have something like this:
    public class ClassA : ClassB, Interface1

How to model this? Does Aqla support this case?

[2022-04-22 16:09] AqlaSolutions commented on #29
What have you tried already?

[2022-04-22 16:52] inethui commented on #29
This is what I've tried, I got error "A type can only participate in one inheritance hierarchy"
[code]

[2022-04-22 17:36] AqlaSolutions commented on #29
Yeah, it means that each type can have only one base type specified. You still can inherit both but you have to decide to use fields either of type `ClassB` or of type `Interface1`.
There is also another option: to enable `WriteAsDynamicType` on interface-typed fields in the `[SerializableMember]` attribute (while having only `ClassA : ClassB` inheritance specified in the `TypeModel`).

[2022-04-22 17:47] AqlaSolutions commented on #29
using AqlaSerializer;
    using AqlaSerializer.Meta;

    namespace ConsoleApp5
    {
        public class MyTest
        {

            public void Execute()
            {
                MetaType metaTypeA = RuntimeTypeModel.Default.Add(typeof(ClassA), true);
                MetaType metaTypeB = RuntimeTypeModel.Default.Add(typeof(ClassB), true);

                metaTypeB.AddSubType(1, typeof(C

[2022-04-22 18:25] inethui commented on #29
Thanks a lot. This is a great solution. Can "DynamicType = true" be defined through method calls?

[2022-04-22 19:09] AqlaSolutions commented on #29
RuntimeTypeModel.Default.Add(typeof(TestClass), true)[nameof(TestClass.Interface1)].SetSettings(x => x.V.WriteAsDynamicType = true, 0);

For now it can only be set for a member.

[2022-04-22 20:06] inethui commented on #29
This works great. What would be the downsides of this approach? Does it make sense to always mark a field as "DynamicType = true" if its type is an interface? We have more than 10k classes and interfaces. Manually configure each of them is not practical, so we always prefer to set things up programmatically.

[2022-04-22 20:41] AqlaSolutions commented on #29
If you need to serialize interfaces or `object` then yes, usually you have to mark them as dynamic type.

This feature writes runtime type as an index of its MetaType inside of the TypeModel. If you registered MetaTypes in different order, their indexes might change and you might not be able to deserialize after that.
Also the `LateReference` feature doesn't work with `DynamicType`.

[2022-04-22 20:51] AqlaSolutions commented on #29
Sorry, the previous post that I deleted contained wrong information.

If you need to serialize interfaces or `System.Object` then yes, usually you have to mark them as dynamic type.

This feature writes full runtime type name into output stream. The name is written only once per type so there is no big size overhead even if you have multiple dynamic fields of a same type.

This is also not very sa

[2022-04-22 20:55] AqlaSolutions commented on #29
To prevent creating non-registered types you can set `RuntimeTypeModel.AutoAddMissingTypes` to `false`.

More specifically this is called when a new type is encountered in an input stream:
![изображение](https://user-images.githubusercontent.com/3465565/164793235-c73aec51-2ec7-40aa-aeb0-c408491bb0e9.png)

[2022-04-22 21:18] AqlaSolutions commented on #29
See also this https://github.com/AqlaSolutions/AqlaSerializer/wiki/Security#type-whitelisting

[2022-04-22 21:21] inethui commented on #29
Thank you so much! It has been very helpful.

[2022-04-22 21:30] #29 closed, assigned to nobody

[2022-04-22 23:50] inethui opened #30 "Why is ISet not supported?"
The following code throws an exception complaining no default constructor. I verified that IList, IDictionary, ICollection all work fine,

[code]

[2022-04-23 00:16] inethui commented on #30
Also, does Aqla support IReadOnlyDictionary, IReadOnlyCollection, IReadOnlySet?

[2022-04-23 09:27] AqlaSolutions commented on #30
You are right, they must be supported. They simply did not exist at the time of active development of AqlaSerializer. I'm going to add support for them some time later.

[2022-04-25 02:28] AqlaSolutions commented on #30
The complicated thing here is that non generic `ICollection` doesn't have an `Add` method so I had to use `IList`.

[2022-04-29 14:01] inethui commented on #30
Is there any updates on this issue? When can we get the solution for it?

[2022-04-30 08:59] AqlaSolutions commented on #30
It turned out to be easier than I thought. I already have a working implemention of ISet support.

[2022-04-30 10:56] AqlaSolutions commented on #30
I uploaded a new version with all these interfaces supported. Please confirm that it works on your side.

[2022-04-30 10:58] #22 closed, assigned to nobody

[2022-04-30 18:03] AqlaSolutions commented on #29
With the latest release such interface is automatically marked as a dynamic type

[2022-04-30 18:04] #20 closed, assigned to nobody

[2022-04-30 18:05] AqlaSolutions commented on #14
Closing for now since I'm not going to change this behavior in near future

[2022-04-30 18:05] #14 closed, assigned to AqlaSolutions

[2022-04-30 18:07] AqlaSolutions commented on #26
With the latest release you can specify an array as a `ConcreteType` for a collection. Also you can instead register an array as a collection subtype with `MetaType.AddSubType`.

[2022-05-02 01:18] inethui commented on #30
It works at interface level. However, what I serialized type is different from the deserialized type:
System.Collections.ObjectModel.ReadOnlyCollection<int> -> System.Collections.Generic.List<int>
System.Collections.ObjectModel.ReadOnlyDictionary<string, int> -> System.Collections.Generic.Dictionary<string, int>

Is it possible to deserialize back the same type as serialized?

[2022-05-02 06:54] AqlaSolutions commented on #30
No, but you can make surrogates for them. What is your usage scenario so that you care about underlying type? In OOP you should not downcast things, you are expected to use them only by provided interfaces.

[2022-05-02 17:27] inethui commented on #30
We have unit tests which compare the objects before and after serialization. The comparison verifies the object types to make sure that through deep cloning, we get exactly the same object back.

[2022-05-03 07:06] AqlaSolutions commented on #30
Ok. As I said you can use surrogates to hook into serialization process.

I don't see how type changing like this may cause an issue in a real app so I'm closing this.

[2022-05-03 07:06] #30 closed, assigned to nobody

[2022-05-06 09:47] #26 closed, assigned to nobody

[2022-05-09 23:47] inethui opened #31 "A deferred key does not have a value yet (NoteObject call missed?)"
I got the following exception when trying to deserialize an object, any idea what's wrong?

[code]

[2022-05-10 21:43] AqlaSolutions commented on #31
Hi, without a reproducable example it's impossible to say what's going on.

[2022-05-11 14:08] inethui commented on #31
The setup is complicated and involves many core business objects in our system. So I don't know how to create a reproducible example for you to take a look. However, I can debug into Aqla, are there some classes or methods I should watch closely in order to trouble shoot this issue?

[2022-05-11 14:33] inethui commented on #31
In deserialization, does Aqla follow the object reference chain? For example, if class A has a field "b" which reference class B, would Aqla deserialize B before finish up deserializing A?

[2022-05-11 16:23] inethui commented on #31
I noticed that there are two kinds of call stacks in deserialization:
[code]
and
[code]

The second one is the failed one. Does this indicate something abnormal?

[2022-05-11 17:57] AqlaSolutions commented on #31
Try removing fields one by one until you find which one causes this. Then you can make a reproducable example to post here.

This exception tells that there is an attempt to retrieve object reference which was not constructed yet. It's impossible to say anything more from the compiled stacktrace. At least you should try disabling `RuntimeTypeModel.AutoCompile`.

I would put a few breakpoints insid

[2022-05-12 02:48] inethui commented on #31
I figured this out, it's a problem on our side. Thanks a lot for the help!

[2022-05-12 02:52] inethui opened #32 "'Non-public member cannot be used with full dll compilation"
Got another weird issue: 'Non-public member cannot be used with full dll compilation.

This is the code, the "DeepClone" fails
[code]

[2022-05-12 02:55] #32 closed, assigned to nobody

[2022-05-12 02:56] inethui commented on #32
My mistake,

[2022-05-12 03:59] inethui opened #33 "Enum With Duplicate Items"
Does Aqla support enum with duplicate items? The following test fails on the assertion.
[code]

[2022-05-12 06:15] #31 closed, assigned to nobody

[2022-05-12 06:26] AqlaSolutions commented on #33
I can't reproduce this, it works for me.

[2022-05-12 16:02] inethui commented on #33
Interesting. I have to change it to make the test work:
[code]

[2022-05-12 16:02] #33 closed, assigned to nobody

[2022-05-16 19:54] inethui opened #34 "Is nuget package 2.0.1 the latest version?"
We get the nuget package 2.0.1, but it doesn't seem to have the latest enhancements. For example, it doesn't support IReadOnlyDictionary. Can you please put the latest version in nuget?

[2022-05-16 20:15] AqlaSolutions commented on #34
2.0.1.1032 is the latest version and it should have all these enhancements.

[2022-05-16 20:25] AqlaSolutions commented on #34
It seems that some specific platforms used wrong binaries. I listed the 2.0.1.1033 version which should fix this issue.

[2022-05-17 06:20] #34 closed, assigned to nobody

[2022-05-17 15:11] inethui opened #35 "Invalid serialization operation with wire-type None"
The following test throws AqlaSerializer.ProtoException : AqlaSerializer.ProtoException : Invalid serialization operation with wire-type None, waiting for wire type of field number 2, position 5

Any idea why? Thanks

[code]

[2022-05-17 15:26] inethui commented on #35
If I change the test to the followings, I get another error from the DeepClone method: System.InvalidProgramException : Common Language Runtime detected an invalid program.
[code]

[2022-05-17 16:52] inethui opened #36 "DeflateStream is not supported?"
The following test fails with the error: System.NotSupportedException : This operation is not supported. This code works for Protobuf-net.
[code]

[2022-05-17 16:54] inethui commented on #35
BTW, the above code works for Protobuf-net.

[2022-05-17 17:28] AqlaSolutions commented on #36
Stacktrace?

[2022-05-17 17:29] AqlaSolutions commented on #35
Probably value tuples are not supported yet. It's the next thing to fix.

[2022-05-17 17:56] inethui commented on #36
Stack Trace: 
[code]

[2022-05-17 18:01] AqlaSolutions commented on #36
Yeah, it's expected that it's possible to get stream position, if it's not supported in `DeflateStream` than you can't use it directly. Though you can make a wrapper around `DeflateStream` which implements `Position`. It should just count written bytes.

[2022-05-17 18:10] inethui commented on #36
But this code works for Protobuf-net. Is Aqla supposed to support whatever Protobuf-net provides?
The following code works:
[code]

[2022-05-17 18:16] AqlaSolutions commented on #36
Mostly it supports things from Protobuf-net, but not using `Position` property is a very implementation specific thing. Ok, I'll see if `Position` can be avoided. For now you can workaround it using a wrapper.

[2022-05-17 18:17] inethui commented on #36
We've already had a serialization solution which is a mix of BinaryFormatter and ProtoBuf, each has its own issues. I'm trying to consolidate them into Aqla, but found these two issues. It would be very much appreciated if you can get them addressed.

[2022-05-17 20:09] AqlaSolutions commented on #36
Can you provide an example with full cycle: serialization + deserialization using DeflateStream?

[2022-05-17 21:04] inethui commented on #36
This is an example of how to serialize/deserialize into/from a DeflateStream:
[code]

[2022-05-17 21:48] AqlaSolutions commented on #36
Ok, I fixed it so that Position is not used unless it is really necessary. You can test it with the develop branch. But mind that some features require seeking during reading like If you try to reference an object from inside itself.

[2022-05-17 22:00] inethui commented on #36
Thanks for the quick turn around. I want to make Aqla our standard serializer, but these two issues have caused many unit tests to fail. Now you have quickly fixed issue #36, it would be really helpful if you can also fix #35.

[2022-05-17 23:04] AqlaSolutions commented on #35
This is fixed in develop branch, please check.

[2022-05-18 14:47] inethui commented on #35
I've verified that this issue is fixed in develop branch.

[2022-05-18 14:48] inethui commented on #36
I got the following error while trying to run our tests with the Aqla develop branch:
`AqlaSerializer.ProtoAggregateException : One or multiple exceptions occurred: InvalidOperationException (Non-public member cannot be used with full dll compilation:`
Any idea what could be the cause?

[2022-05-18 15:04] AqlaSolutions commented on #36
It means you are serializing a private field. If it's not the case can you give me a repro?

[2022-05-18 15:09] inethui commented on #36
Yes, we are serializing private fields. We use reflection to find out all fields (public and private) and use RuntimeTypeModel APIs to register our classes and fields. This has never been a problem before.

[2022-05-18 15:13] inethui commented on #36
I have encountered similar issues before. One thing I noticed is that if I download and use the binaries you built, then this problem goes away.

[2022-05-18 15:18] inethui commented on #36
Can you please publish the binaries? I would like to give it a try.

[2022-05-18 16:19] inethui commented on #36
What does "full dll compilation" mean?

[2022-05-18 18:14] AqlaSolutions commented on #36
When you call `RuntimeTypeModel.Compile(dllName)` it generates dll that can serialize your classes without reflection. If works as any other compiled C# code so it can't access private members.

[2022-05-18 18:24] AqlaSolutions commented on #36
It looks like you use DEBUG configuration of aqlaserializer project, that's why it attempts to test dll compilation. Just switch to release.

[2022-05-18 19:16] inethui commented on #36
You are right, I was running in DEBUG configuration. However, I didn't call RuntimeTypeModel.Compile(dllName), instead what I called is RuntimeTypeModel.Default.CompileInPlace(). Does this have the same effect as "RuntimeTypeModel.Compile(dllName)"?

[2022-05-18 19:21] inethui commented on #36
I'm having some trouble to build the release build of Aqla. Can you post the release build of it? Thanks

[2022-05-18 20:58] inethui commented on #36
Never mind, I figured out how to create the release build. I've verified that this issue is fixed in develop branch. Now can you please create a nuget package? I will ask our IT to download it and put it in our internal nuget repo so that our system can start to use it.

[2022-05-19 16:15] AqlaSolutions commented on #36
I've published the new release.

[2022-05-19 16:15] #36 closed, assigned to nobody

[2022-05-19 16:16] #35 closed

[2022-05-26 21:46] inethui opened #37 "Possible recursion detected"
I got the error message when I tried to deep clone an object twice:
`Possible recursion detected (offset: 8 level(s)): []`

The first deep clone was successful, I checked the object's fields and everything seems to be ok. However, if I deep clone the same object again, I got an exception with the above error message.

The recursion stack dump is like this:
[code]
What does this error mean and how

[2022-05-26 21:57] inethui commented on #37
The exception call stack is like this:
[code]

[2022-05-26 23:06] AqlaSolutions commented on #37
Please turn off AutoCompile before posting stack traces

[2022-05-26 23:23] inethui commented on #37
This is the stack trace without AutoCompile:
[code]

[2022-05-26 23:30] AqlaSolutions commented on #37
Please read this: https://github.com/AqlaSolutions/AqlaSerializer/wiki/Member-Formats#latereference-mode

[2022-05-26 23:41] AqlaSolutions commented on #37
Also the `[] ` in the exception is `ToString()` of your object at the top of the serialization stack

[2022-05-27 05:40] AqlaSolutions commented on #37
It's possible that you are trying to serialize a reference without reference tracking but it contains reference to itself inside

[2022-05-27 13:33] inethui commented on #37
I tried "LateReference" but it didn't work. I'm frustrated that it works for the first clone but failed for the second clone. What could probably cause this kind of behavior? The code has been in production for more than 10 years successfully. Also with BinaryFormatter we don't have any issue.

[2022-05-27 14:05] AqlaSolutions commented on #37
Then I would just use a debugger with a breakpoint at `CheckRecursionStackAndPush` to check what's going on.

[2022-06-05 16:30] inethui commented on #37
I have found out the cause of this. Basically our code mistakenly treats IEnumerable types as ValueFormat.Compact.

[2022-06-05 17:07] inethui opened #38 "RuntimeTypeModel.Default.CompileInPlace is too slow"
We have more than 5800 classes which are registered with "RuntimeTypeModel.Default". However if I run CompileInPlace against the model, it takes more than 3 minutes. Is there a way to speed this up?

[2022-06-05 17:26] AqlaSolutions commented on #38
No, but you can run `Model.Compile("assembly.dll")` once as a part of your publish process instead of using `CompileInPlace` each time. Though, in this case serializers can't access private members of your classes.

[2022-06-05 17:27] #37 closed, assigned to nobody

[2022-06-05 17:29] AqlaSolutions commented on #38
And for debugging experience you can run without serializers compilation at all to have faster startup times (`AutoCompile = false`) though serialization itself will be slow.

[2022-06-05 21:19] inethui commented on #38
We have to access the private fields of classes. How does Aqla access private fields? Is it through generated IL code or use reflection APIs?

[2022-06-06 15:59] AqlaSolutions commented on #38
1. Reflection if `AutoCompile = false`
2. In-memory IL if  `CompleInPlace()` is called
3. Can't access from disk dll assembly if `Compile` is called

[2022-06-07 13:55] inethui commented on #38
This is very helpful, thank you.

[2022-06-08 06:36] #38 closed, assigned to nobody

[2022-06-12 19:24] inethui opened #39 "Non-public member cannot be used with full dll compilation"
I got the error in our tests:
`Non-public member cannot be used with full dll compilation`

I didn't call the "Compile" method, how could the "full dll compilation" being triggered? Any idea what could be wrong? The same code works fine with Protobuf-net 2.4.6.

Thanks

This is the call stack:
[code]

[2022-06-12 19:53] AqlaSolutions commented on #39
Please use Release configuration of AqlaSerializer

[2022-06-12 20:02] inethui commented on #39
Not sure what you mean "Release configuration". Can you be more specific?

[2022-06-12 20:14] inethui commented on #39
I switched to release build of Aqla and it is working now. How does Aqla behave differently under debug / release build?

[2022-06-12 20:21] AqlaSolutions commented on #39
AqlaSerializer in debug build performs additional checks to ensure that serialization with compilation and without produces same bytes.

[2022-06-12 21:48] inethui commented on #39
Does Aqla support read-only properties? I found a situation which is supported by Protobuf-net but not by Aqla. The protobuf-net test "CloneReadOnlyPropertyWithProtobuf" in the following code works but the aqla test "CloneReadOnlyPropertyWithAqla" fails with error message:
[code]
[code]

[2022-06-13 05:02] AqlaSolutions commented on #39
Please set method `MetaType.AddField` parameter `useBackingFieldIsNoSetter` to `true`. protobuf-net removed this parameter.

[2022-06-13 13:31] inethui commented on #39
We use protobuf attributes in this case. How to set useBackingFieldIsNoSetter? Is there a global setting for this?

[2022-06-13 14:14] AqlaSolutions commented on #39
No, you can only set it with `MetaType.AddField`.
I also removed this parameter in develop branch.

[2022-06-16 21:20] inethui opened #40 "AqlaSerializer.ProtoException: Trap count > 1, will be mismatched with next NoteObject"
I got the following exception when trying to deserialize an object. Basically I serialized an object into MemoryStream and then trying to deserialize it, but got this error. What does the error message mean? Is it something we didn't do well?
[code]

[2022-06-19 17:54] inethui commented on #39
I tried the develop branch, the problem is still there. Are you able to run the test code I posted?

BTW I'm using the debug build as I'm having trouble to create a release build of Aqla. Is this a problem?

[2022-06-19 18:24] inethui commented on #39
When I tried to run a release build (with VS 2022 community edition), I got the following error:
`Error	MSB3644	The reference assemblies for .NETFramework,Version=v4.0 were not found. To resolve this, install the Developer Pack (SDK/Targeting Pack) for this framework version or retarget your application. You can download .NET Framework Developer Packs at https://aka.ms/msbuild/developerpacks`
I we

[2022-06-19 20:44] inethui commented on #40
I'm currently stuck on this issue. Any help is highly appreciated.

[2022-06-25 20:08] AqlaSolutions commented on #39
You have to either use VS2019 or remove not supported target frameworks in the csproj. You can also continue running DEBUG configuration but set `RuntimeTypeModel.SkipCompiledVsNotCheck = true`.

[2022-06-25 20:30] AqlaSolutions commented on #39
Set `((AutoAddStrategy)model.AutoAddStrategy).UseBackingFieldsIfNoSetter = true;`

[2022-06-25 20:38] AqlaSolutions commented on #40
It's possible that your scenario is not supported by the reference tracking system. I can't say what exactly causes this without a reproducable example. Try removing fields one by one until the issue disappears. Then send me an isolated repro.

[2022-06-25 20:45] AqlaSolutions commented on #40
To be more clear, `TrapNextObject` is used to set object id which is used by a following `NoteObject` call when an instance is created. If the next serializer in the chain can't create object instance right away, it should call `ReserveNoteObject` to store the id in a stack for later use. Either way, next `TrapNextObject` call should not happen before any of these. This exception is thrown when ca

[2022-06-26 23:03] inethui opened #41 "Dynamic type is not a contract-type"
I got the following error during our tests:
`Dynamic type is not a contract-type: System.Collections.Generic.ObjectComparer`1`

"ObjectComparer" is a .NET internal type, which I don't think we need to do anything about it. Any idea what could be wrong?

Thanks

[2022-06-27 00:51] inethui commented on #39
This works, thank you!

[2022-06-27 21:03] inethui opened #42 "Un-defined enum values"
Protobuf-net allows un-defined enum values, but Aqla doesn't. The following code shows that:

[code]

Is there a way to support undefined enum values with Aqla?

[2022-06-29 15:43] #41 closed, assigned to nobody

[2022-07-04 22:47] inethui commented on #40
Finally, I was able to replicate this issue with a simple test case. The call "Serializer.DeepClone(inst);" will fail with error message like "AqlaSerializer.ProtoException : Trap count > 1, will be mismatched with next NoteObject".

Could you please take a look and see what's wrong? Thanks a lot for your help!

[code]

[2022-07-05 04:36] AqlaSolutions commented on #40
Fixed in develop branch

[2022-07-05 04:36] #40 closed, assigned to nobody

[2022-07-05 04:40] #39 closed, assigned to nobody

[2022-07-05 05:23] AqlaSolutions commented on #42
This behavior can be toggled with `EnumPassthru` on a type attribute or `MetaType` property. I have changed its defaults to `true` in develop branch.

[2022-07-05 05:23] #42 closed, assigned to nobody

[2022-07-05 13:53] inethui commented on #40
Great! Thanks for the quick fix. Just be curious, what was the problem? It has take me hours to replicate it with a simple test case.

[2022-07-05 13:56] AqlaSolutions commented on #40
See https://github.com/AqlaSolutions/AqlaSerializer/commit/4f6a77097e96ee609ff5d2e8d73165d45a8afd02

[2022-07-05 14:43] inethui commented on #40
I see, thanks.

[2022-07-05 14:59] inethui commented on #40
I just verified that the issue is fixed with the develop branch. Can you publish it in nuget? We can only use nuget packages for our official builds.

[2022-07-05 18:57] AqlaSolutions commented on #40
Unfortunately, I uninstalled VS 2019 and it's not possible to make the full build with all supported platforms using VS 2022. It may take some time before I will be able to publish the new release.

[2022-07-07 14:24] inethui commented on #40
Any update on publishing the new release? Thanks

[2022-07-07 17:32] AqlaSolutions commented on #40
Not today unless you know how to build Portable Class Library project with VS 2022.

[2022-07-08 16:56] inethui commented on #40
Any update on this? Thanks

[2022-07-09 10:00] AqlaSolutions commented on #40
Released

[2022-07-11 13:49] inethui commented on #40
Cool, thank a lot!

[2022-07-12 19:42] inethui opened #43 "Unexpected sub-type"
I got this error when running the underneath code. I've been struggling on this for quite a few days. Can you take a look please and see what is wrong?

`System.InvalidOperationException : Unexpected sub-type: PrototypeTests.AqlaSerializationTests+CashflowListVector2`

One strange thing I noticed is that if I remove these two lines, the test passes:
[code]
[code]

[2022-07-13 16:23] inethui commented on #43
Are you able to replicate the issue? Please let me know if you need more information about it.

[2022-07-14 00:06] inethui commented on #43
I have simplified the unit test.

[2022-07-15 20:25] inethui commented on #43
Any suggestion on this issue? I have been stuck on this issue for quite a few days and need help. Your help is highly appreciated!

[2022-07-20 19:36] inethui opened #44 "How to setup Aqla for complicated object relationships"
I have classes with the relationships depicted in the attached class diagram:
![image](https://user-images.githubusercontent.com/102195036/180080517-a7a69fec-34c7-4635-b56e-874447e3f2a2.png)

How to setup Aqla for those classes? It seems that the straightforward setup for each relationship doesn't work. Our code assigns an instance of class "NameAndId" to "Property._owner", which is type "INameAnd

[2022-07-20 19:47] wvlad-b2broker commented on #44
You should register NameAndId as a subtype of INameAndId. The exception suggests doing exactly this.

[2022-07-20 19:55] inethui commented on #44
Thanks for the reply. NameAndId is already a sub-type of NameAndIdBase. I think we can't have multiple inheritances.

[2022-07-20 19:57] wvlad-b2broker commented on #44
Multiple inheritances are not supported. You can set dynamic type to true instead.

[2022-07-20 20:16] inethui commented on #44
One thing worth to mention, if I remove the relationship between "IEntityNameAndId" and "NameAndIdBase", then the serialization of "Property" works. Don't know how is this related to the issue.

[2022-07-20 20:56] inethui commented on #44
One thing worth to mention, if I remove the relationship between "IEntityNameAndId" and "NameAndIdBase", then the serialization of "Property" works. Don't know why. Any idea?

[2022-07-20 21:51] inethui commented on #44
This is the unit test code to replicate the issue:

[code]

[2022-07-20 21:57] inethui commented on #44
If we remove the following two lines from the "SetupModel" method, the test passes. I don't know why.
[code]

[2022-07-22 21:37] inethui opened #45 "Wrong group was ended"
I got the error "Wrong group was ended" when trying to deserialize an object. I narrowed it down to a class field but don't know why this happens and how to resolve it. Any suggestions is appreciated.

[2022-07-23 17:44] inethui opened #46 "Recursion depth exceeded safe limit"
The following test "TestDistribution" results in an exception.
`AqlaSerializer.ProtoException : Recursion depth exceeded safe limit. See TypeModel.RecursionDepthLimit.`

Any idea what is wrong? Thanks

[code]

[2022-07-27 20:38] inethui opened #47 ""Unable to determine member" when running obfuscated code"
We got the error "Unable to determine member" when running the obfuscated code with Aqla. After some investigation we found the cause:
Obfuscation could assign the same name for a field and method. This is legal in IL, but not allowed in C#. When we register a field with Aqla by calling "metaType.AddField(Index, fieldName)", Aqla internally calls the following code:
[code]
If a method and a field

[2022-07-28 13:42] inethui commented on #43
We have found a work around of this issue.

[2022-07-28 13:42] #43 closed, assigned to nobody

[2022-08-11 13:26] #45 closed, assigned to nobody

[2022-08-22 22:31] inethui commented on #44
Found a workaround on our side.

[2022-08-22 22:31] #44 closed, assigned to nobody

[2022-08-22 22:31] inethui commented on #46
Found a workaround on our side.

[2022-08-22 22:31] #46 closed, assigned to nobody

[2022-08-22 22:37] inethui opened #50 "A deferred key does not have a value yet (NoteObject call missed?)"
The following test throws "**AqlaSerializer.ProtoException : A deferred key does not have a value yet (NoteObject call missed?)**". Also, the method "CoreTableSurrogate.ToSurrogate" is called twice, the first call with non-null "coreTable" parameter, the second call with null "coreTable" parameter. It seems that the result of the second call is passed to "CoreTableSurrogate.FromSurrogate".

Any id

[2022-08-23 09:19] AqlaSolutions commented on #47
This was fixed by https://github.com/AqlaSolutions/AqlaSerializer/pull/49 (in develop branch now)

[2022-08-23 09:19] #47 closed, assigned to nobody

[2022-08-23 09:45] AqlaSolutions commented on #50
Deserializer calls `ToSurrogate` first to convert the old value into surrogate, then does deserialization onto it and calls `FromSurrogate`.

[2022-08-23 09:49] AqlaSolutions commented on #50
It looks like the issue happens because the code doesn't expect surrogate to change null to non-null and vice versa.

This code works without the exception:

            [AqlaSerializer.SurrogateConverter]
            public static CoreTable FromSurrogate(CoreTableSurrogate surrogate)
            {
                if (surrogate == null)
                    return null;

                return new

[2022-08-23 10:07] AqlaSolutions commented on #46
The surrogate contains `Distrubution` which is itself an `ILoader` which needs to be converted into surrogate before serialization. This won't work.

[2022-08-23 13:44] inethui commented on #50
Thanks for the quick response. I still have a question, why is "ToSurrogate" called twice, one with not-null "coreTable" parameter, and the other with null "coreTable" parameter?

[2022-08-23 13:56] AqlaSolutions commented on #50
Another (first) time it's called during serialization.

1. ToSurrogate: Serialization
2. ToSurrogate: Deserialization: old value (null)
3. FromSurrogate: Deserialization: value retrieved from a stream

[2022-08-23 14:06] inethui commented on #50
Thanks for the explanation. What is the purpose of 2? It's really confusing.

[2022-08-23 14:09] AqlaSolutions commented on #50
You can deserialize onto an existing instance. So the existing value first must be converted into a surrogate and then deserialization is applied onto it.

[2022-08-23 14:14] inethui commented on #50
Is this something internally needed by Aqla? I just can't think of a use case while I would deserialize onto an existing instance.

[2022-08-23 14:15] AqlaSolutions commented on #50
It's a publicly available API, you can pass an existing object into Deserialize method.

[2022-08-23 14:16] inethui commented on #50
I see. Thanks a lot for the replies. I really appreciate it.

[2022-08-23 14:23] inethui commented on #50
No issue, questions are answered.

[2022-08-23 14:23] #50 closed, assigned to nobody

[2022-09-07 16:25] inethui opened #51 "How to unregister or re-register a type?"
In unit tests, each test may want to setup their own types. The default model contains configuration for all types, which doesn't fit into the case of unit tests. Is there a way to erase everything registered, or override the existing registration with a different configuration?

[2022-09-07 16:37] AqlaSolutions commented on #51
Create a separate model: TypeModel.Create

[2022-09-07 17:31] inethui commented on #51
Thanks for the quick reply. If I create a new type model, does that mean I could not call the methods of "Serializer" anymore, instead, I should call the methods on the model? Is it possible to replace the default type model?

[2022-09-07 17:33] AqlaSolutions commented on #51
Yes

[2022-09-07 18:04] inethui commented on #51
Is it possible to replace the default runtime type model (RuntimeTypeModel.Default)?

[2022-09-07 19:48] AqlaSolutions commented on #51
No. Make your own singleton and replace model there.

[2022-09-07 19:57] inethui commented on #51
I see. Thanks!

[2022-09-07 19:57] #51 closed, assigned to nobody

[2022-09-14 12:46] inethui opened #52 "Can you please publish the latest code?"
I need the fix of issue:
`"Unable to determine member" when running obfuscated code`

Could you please publish the latest code which has the fix of the above issue?

Thanks

[2022-10-19 17:12] inethui opened #53 "Failed to clone a dictionary with enum value"
The following code failed with error "A deferred key does not have a value yet (NotObject call missed?)

[code]

[2022-10-27 17:06] agenne opened #54 "Unable to Serialize a string object dictionary containing a string array as object"
Hi, ist it possible to fix this problem:
the dictionary serialization failes when the object is a string[].
**"Dynamic type is not a contract-type: String[]"**

[SerializableType]
  public class AttributesSample
  {
    private int fMyProperty1;
    [NonSerializableMember]
    public int MyProperty1 { get => fMyProperty1; set => fMyProperty1 = value; }

    public int MyProperty2 { get; set; }